{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}
{% block section_title %}{% trans "Welcome" %}{% endblock %}


{% block content %}
<div class="mdl-grid welcome-content">
  <div class="mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{% trans 'Welcome' %}</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p>{% url 'faq' as faq_url %}
        {% blocktrans %}TrainerDex is a service for tracking and updating your progress in Pokémon Go. Don't worry, there's no risk of ban! Check out our <a href="{{ faq_url}}" id="faq">FAQ</a>.{% endblocktrans %}
        <p>
          {% blocktrans %}Our discord bot is currently live and provides <em>leaderboards, badges, profiles</em> and more!{% endblocktrans %}
        </p>
        <p>{% url 'account_signup' as account_signup %}
          {% blocktrans with donation_url='https://paypal.me/pools/c/7Zo3MYKWVJ' %}TrainerDex Web <em>beta</em> is here!{% endblocktrans %} {% if not user.is_authenticated %}{% blocktrans %}Click <a href="{{account_signup}}">here</a> to register. {% endblocktrans %}{% endif %}{% blocktrans %}<a href="{{donation_url}}">Donations</a> help a lot with development!{% endblocktrans %}
        </p>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'account_login' %}">
          {% trans "Let's go!" %}
        </a>
      </div>
    </div>
  </div>
  {% endblock %}
