{% load static %}
<!DOCTYPE html>
<html lang="en" charset="utf-8">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TrainerDex</title>
        <base href="/">
        <meta name="description" content="Join TrainerDex">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
        <link rel="icon" href="/favicon.ico">
        <meta property="og:site_name" content="TrainerDex" />
        <meta name="fb:page_id" content="1683676791663912" />
        <meta name="msvalidate.01" content="E7E20ABA1E037AC0B7E0116E01E3337A" />
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    </head>
    <body>
        <noscript>
            <strong>We're sorry but TrainerDex doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        
    </body>
</html>
