{% load i18n %}
{% load socialaccount %}
{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
<div class="mdl-card__actions mdl-card--border">
  <button
    class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
    formaction="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"
    id="{{provider.id}}"
  >{% blocktrans with provider.name as provider %}Continue with {{provider}}{% endblocktrans %} &raquo;
  </button>
</div>
{% endfor %}
