{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}
{% block section_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block content %}
<div class="mdl-grid">
  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--5-col mdl-cell--4-col-phone trainerdex-card__alert">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{% trans "Login Cancelled" %}</h2>
    </div>
    <div class="mdl-card__supporting-text">
      {% trans "Login was cancelled." %}
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'account_login' %}">
        {% trans 'Return to login page' %}
      </a>
    </div>
  </div>
</div>
{% endblock %}
