{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Settings" %}{% endblock %}
{% block section_title %}{% trans "Account Settings" %}{% endblock %}
{% block article_title %}{% trans "Account Settings" %}{% endblock %}

{% block content %}
<p>This is being reworked. Keep an eye on this page.</p>
<ol>
  <li>
    <a href="{% url 'account_set_password' %}">{% trans "Set/Change Password" %}</a>
  </li>
  <li>
    <a href="{% url 'account_email' %}">{% trans "Email Management" %}</a>
  </li>
  <li>
    <a href="{% url 'socialaccount_connections' %}">{% trans "Link Social Accounts" %}</a>
  </li>
</ol>
{% endblock%}
