{% extends 'account/base.html' %}

{% load i18n %}

{% block head_title %}
  {% trans 'Account Inactive' %}
{% endblock %}

{% block content %}
  <div class="mdl-grid">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-phone trainerdex-card__alert">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{% trans 'Account Inactive' %}</h2>
      </div>
      <div class="mdl-card__supporting-text">
        {% trans 'This account is inactive. Please contact us on Discord or Twitter for help.' %}
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://discord.trainerdex.app/">{% trans 'Discord Server' %}</a>
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://twitter.com/TrainerDexApp">{% trans '@TrainerDexApp on Twitter' %}</a>
      </div>
    </div>
  </div>
{% endblock %}
