{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block content %}
<div class="mdl-grid">
  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--5-col mdl-cell--4-col-phone trainerdex-card__alert">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{% trans "Confirm E-mail Address" %}</h2>
    </div>
    {% if confirmation %}
    {% user_display confirmation.email_address.user as user_display %}
    <div class="mdl-card__supporting-text">
      {% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
        {% csrf_token %}
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">{% trans 'Confirm' %}</button>
      </form>
    </div>
    {% else %}
    {% url 'account_email' as email_url %}
    <div class="mdl-card__supporting-text">
      {% blocktrans %}This e-mail confirmation link expired or is invalid.{% endblocktrans %}
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ email_url }}">
        {% trans 'Resend confirmation email' %}
      </a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
