{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="mdl-grid">
  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--5-col mdl-cell--4-col-phone trainerdex-card__alert">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{% trans "Change Password" %}</h2>
    </div>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
      <div class="mdl-card__supporting-text">
        <div id="form_password_change" class="mdl-textfield mdl-js-textfield">
          {% csrf_token %}
          {% render_field form.oldpassword class+="mdl-textfield__input" %}<br>
          {% render_field form.password1 class+="mdl-textfield__input" %}<br>
          {% render_field form.password2 class+="mdl-textfield__input" %}
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" name="action">{% trans "Change Password" %}</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
