{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block section_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="mdl-grid">
  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--5-col mdl-cell--4-col-phone trainerdex-card__alert">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
    </div>
    {% if token_fail %}
    <div class="mdl-card__supporting-text">
        {% url 'account_reset_password' as passwd_reset_url %}
        {% blocktrans %}The password reset link was invalid, possibly because it has already been used.{% endblocktrans %}
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ passwd_reset_url }}">
        {% trans 'New password reset key' %}
      </a>
    </div>
    {% else %}
      {% if form %}
        <form method="POST" action="{{ action_url }}">
          <div class="mdl-card__supporting-text">
            <div id="form_password_reset" class="mdl-textfield mdl-js-textfield">
              {% csrf_token %}
              {% render_field form.password1 class+="mdl-textfield__input" %}<br>
              {% render_field form.password2 class+="mdl-textfield__input" %}
            </div>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <input class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"  type="submit" name="action" value="{% trans 'change password' %}"/>
          </div>
        </form>
      {% else %}
        <div class="mdl-card__supporting-text">
          {% trans 'Your password has now been changed.' %}
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'account_login' %}">
            {% trans 'Return to login page' %}
          </a>
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
