{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}
{% block section_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="mdl-grid">
  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--5-col mdl-cell--4-col-phone trainerdex-card__alert">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{% trans "Set Password" %}</h2>
    </div>
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
    {% csrf_token %}
      <div class="mdl-card__supporting-text">
        {% trans "Please set a password! They're quite important you know." %}
        <!-- This form is the one untested, it should work but let me know if it doesn't -->
        <div id="form_password_reset" class="mdl-textfield mdl-js-textfield">
          {% csrf_token %}
          {% render_field form.password1 class+="mdl-textfield__input" %}<br>
          {% render_field form.password2 class+="mdl-textfield__input" %}
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <input class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"  type="submit" name="action" value="{% trans 'Set Password' %}"/>
      </div>
    </form>
  </div>
</div>
{% endblock %}
