[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "~=3.13.1"
gunicorn = "==20.1.0"
psycopg2-binary = "*"
humanize = "*"
python-dateutil = "*"
django-allauth = "~=0.51.0"
django-cors-headers = ">=3.10.1"
django-exclusivebooleanfield = "~=0.3.0"
django-widget-tweaks = ">=1.4.11"
Django = ">=4.1.0,<4.2.0"
Pillow = "*"
django-silk = ">=4.3.0"
django-allow-cidr = ">=0.4.0"
django-robots = ">=5.0"
docutils = "*"
django-oauth-toolkit = ">=2.0.0"
drf-ujson2 = "*"
django-postgres-extra = "*"
isodate = "*"
pytesseract = "*"
numpy = "*"
opencv-python = "*"
uvicorn = {extras = ["standard"], version = "*"}
requests = "==2.28.1"
certifi = "==2022.6.15"
django-countries = {version = "==7.3.2", extras = ["pyuca"]}

[dev-packages]
flake8 = "*"
black = "*"
isort = {extras = ["black"], version = "*"}

[requires]
python_version = "3.10"
