[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "~=3.12.4"
gunicorn = "==20.1.0"
psycopg2-binary = "*"
certifi = "*"
humanize = "*"
pendulum = "*"
requests = "*"
python-dateutil = "~=2.8.1"
django-ajax-selects = "*"
django-allauth = "~=0.49.0"
django-cors-headers = "~=3.7.0"
django-exclusivebooleanfield = "~=0.3.0"
django-widget-tweaks = "~=1.4.8"
"discord.py" = "<1.6.0,>=1.5.0"
Django = "~=3.2.0"
Markdown = "*"
Pillow = "*"
Pygments = "~=2.9.0"
django-silk = "*"
django-allow-cidr = "*"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.10"
