[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "~=3.13.1"
gunicorn = "==20.1.0"
psycopg2-binary = "*"
certifi = "*"
humanize = "*"
pendulum = "*"
requests = "*"
python-dateutil = "~=2.8.1"
django-allauth = "~=0.50.0"
django-cors-headers = ">=3.10.1"
django-exclusivebooleanfield = "~=0.3.0"
django-widget-tweaks = ">=1.4.11"
Django = ">=4.0.0,<4.1.0"
Pillow = "*"
django-silk = ">=4.3.0"
django-allow-cidr = ">=0.4.0"
django-robots = "*"
docutils = "*"

[dev-packages]
flake8 = "*"
black = "*"
isort = {extras = ["black"], version = "*"}

[requires]
python_version = "3.10"
