certifi==2019.11.28
discord.py>=1.2.4
django==2.1.11
django-allauth==0.40.0
django-cities==0.5.0.6
django-cookie-law==2.0.1
django-cors-headers==2.5.0
django-crispy-forms # Am I using this?
django-exclusivebooleanfield==0.3.0
django-filter>=1.0.1
django-form-utils==1.0.3
django-helpdesk==0.2.17
django-rosetta==0.9.3
django-unused-media # Am I using this?
django-widget-tweaks==1.4.5
djangorestframework==3.9.4
humanize==0.5.1
humanfriendly==7.0
markdown>=2.1.0
pendulum==2.0.5
python-dateutil==2.8.1
requests==2.22.0
Pygments==2.4.2
