amqp==2.2.2
billiard==3.5.0.3
certifi==2017.7.27.1
chardet==3.0.4
django-ajax-selects==1.7.0
django-allauth==0.35.0
django-annoying==0.10.4
django-cities==0.5.0.6
django-colorful==1.2
django-cookie-law==1.0.13
django-exclusivebooleanfield==0.3.0
django-flat-responsive
django-gravatar2==1.4.2
django-model-changes==0.15
django-rest-elasticsearch==0.3.1
django-rosetta==0.8.1
django-timezone-field==2.0
django-widget-tweaks==1.4.1
django==1.11.4
djangorestframework==3.6.3
humanize==0.5.1
idna==2.6
kombu==4.1.0
psycopg2==2.7.4
pycent==1.0
python-dateutil==2.6.1
pytz==2018.3
requests==2.18.4
six==1.10.0
urllib3==1.22
vine==1.1.4
