certifi==2020.6.20
discord.py>=1.4.1
django==2.2.16
django-ajax-selects
django-allauth==0.42.0
django-cities==0.6
django-cors-headers==2.5.0
django-exclusivebooleanfield==0.3.0
django-filter>=1.0.1
django-form-utils==1.0.3
django-helpdesk==0.2.22
django-rosetta==0.9.4
django-widget-tweaks==1.4.5
djangorestframework==3.9.4
humanize==2.6.0
humanfriendly==8.2
markdown>=2.1.0
pendulum==2.0.5
Pillow
psycopg2
Pygments==2.4.2
python-dateutil==2.8.1
requests==2.24.0
