{% extends "account/login.html" %}

{% load i18n %}

{% block warning %}
<div id="trainerdex-toast-warning" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>
<script>
r(function(){
    var snackbarContainer = document.querySelector('#trainerdex-toast-warning');
    var data = { message: '{% trans "An error occurred while attempting to login via your social network account." %}'};
    snackbarContainer.MaterialSnackbar.showSnackbar(data);
});
function r(f){ /in/.test(document.readyState)?setTimeout('r('+f+')',9):f()}
</script>
{% endblock %}
{% block signin_message %}{% blocktrans %}An error occurred while attempting to login via your social network account. Please try again or, <a href="{{ signup_url }}">sign up</a>
for an account and sign in below:{% endblocktrans %}{% endblock %}
