{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Connections" %}{% endblock %}
{% block section_title %}{% trans "Account Connections" %}{% endblock %}

{% block content %}
<div class="trainerdex-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
{% if form.accounts %}

<div class="trainerdex-options mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
<form method="post" action="{% url 'socialaccount_connections' %}">
{% csrf_token %}
<fieldset>
  <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
    {%blocktrans %}You can sign in to your account using any of the following third party accounts:{% endblocktrans %}
{% if form.non_field_errors %}
{{ form.non_field_errors }}
{% endif %}
    <ul>
{% for base_account in form.accounts %}
{% with base_account.get_provider_account as account %}
      <li>
        <label for="id_account_{{ base_account.id }}" class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
          <input type="radio" id="id_account_{{ base_account.id }}" class="mdl-radio__button" name="account" value="{{ base_account.id }}"/>
          <span class="mdl-checkbox__label socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{account.get_brand.name}} {{ account }}</span>
        </label>
      </li>
{% endwith %}
{% endfor %}
    </ul>
</div>

<div class="mdl-card__actions mdl-card--border">
  <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">{% trans 'Remove' %}</a>
  <div class="mdl-layout-spacer"></div>
  <i class="material-icons">remove_circle</i>
</div>
</fieldset>
</form>
</div>
<div class="trainerdex-separator mdl-cell--1-col"></div>

<div class="trainerdex-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
  <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
    <h2 class="mdl-card__title-text">{% trans 'Link Accounts' %}</h2>
   </div>
  <div class="mdl-card__supporting-text mdl-color-text--grey-600">
    {%blocktrans %}You can sign in to your account using any of the following third party accounts{% endblocktrans %}
  </div>

{% else %}
<div class="trainerdex-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
  <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
    <h2 class="mdl-card__title-text">{% trans 'Add a 3rd Party Account' %}</h2>
   </div>
  <div class="mdl-card__supporting-text mdl-color-text--grey-600">
    {% trans 'You currently have no social network accounts connected to this account.' %}
  </div>
{% endif %}


<div class="mdl-card__actions mdl-card--border socialaccount_providers">
{% include "socialaccount/snippets/provider_list.html" with process="connect" %}
</div>
</div>
</div>
{% include "socialaccount/snippets/login_extra.html" %}

{% endblock %}
