{% extends "text/base.html" %}

{% block head_title %}Terms of Service{% endblock %}


{% block content_title %}Terms of Service{% endblock %}

{% block content %}
    <p>By signing up to TrainerDex through any of the various methods such as; web, Discord or via submitting your screenshots for verification to a server which states it uses TrainerDex, you are agreeing to these Terms of Service. These terms of service are subject to change at any time.</p>
    
    <p>We, TrainerDex, have the right to save and store screenshots of your stats for future audits and verification.
    We reserve the right to deny a user access to TrainerDex at any time, however, we will always try to provide the reason to the user.</p>
    
    <p>The following rules/terms are in place and violation of these rules can result in termination of your profile and a permanent ban from the service;</p>
    <ol>
        <li>No use of tools and/or apps to falsy your location in Pokémon Go.</li>
        <li>No use of any tools or software or other methods to falsify your screenshots before submitting them.</li>
        <li>No submitting anybody else's screenshots as your own.</li>
        <li>Do not knowingly submitting false data to TrainerDex.</li>
    </ol>
    
    <p>We import data from several third party providers and whilst we accept the risk that this data might not be up to our standards, submitting false data to these providers so that it propogates through to TrainerDex is a violation of the previous term.</p>
{% endblock %}
