{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block section_title %}{% trans "Signup" %}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'node_modules/mdl-date-textfield/dist/mdl-date-textfield.min.css' %}">
{% endblock %}

{% block content %}
<div class="mdl-grid">
  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--5-col mdl-cell--4-col-phone trainerdex-card__alert">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{% trans "Register" %} - {% trans "Step 2" %}</h2>
    </div>
    <form class="signup" id="signup_form" method="post" enctype="multipart/form-data" action="{% url 'profile_set_up' %}">
      <div class="mdl-card__supporting-text" style="text-align: center;">
        <div id="signup_form">
          {% csrf_token %}
          <span>{{ form.non_field_errors }}</span>

          {# Include the hidden fields #}

          {% for hidden in form.hidden_fields %}
           {{ hidden }}
          {% endfor %}

          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

          {# Include the visible fields #}

          {% for field in form.visible_fields %}
            {% if field.field.widget.input_type == 'text' or field.field.widget.input_type == 'number' %}
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label{% if field.errors %} is-invalid{% endif %}">
                {% if field.name == 'start_date' %}
                <input type="date" name="start_date" value="2016-07-08" class="mdl-textfield__input" required id="id_start_date">{% else %}
                {{ field|add_class:"mdl-textfield__input"}}{% endif %}
                <label class="mdl-textfield__label" for="{{field.id_for_label}}">{{field.label}}</label>
                <span>{{field.help_text}}</span>
                {% for error in field.errors %}
                  <span class="mdl-textfield__error">{{error}}</span>
                {% endfor %}
              </div><br>
            {% elif field.field.widget.input_type == 'select'%}
              <div class="mdlext-selectfield mdlext-js-selectfield mdlext-selectfield--floating-label{% if field.errors %} is-invalid{% endif %}">
                {{ field|add_class:"mdlext-selectfield__select"}}
                <label class="mdlext-selectfield__label" for="{{field.id_for_label}}">{{field.label}}</label>
                <span>{{field.help_text}}</span>
                {% for error in field.errors %}
                  <span class="mdlext-selectfield__error">{{error}}</span>
                {% endfor %}
              </div><br>
            {% elif field.field.widget.input_type == 'checkbox'%}
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="{{field.id_for_label}}" >
                {{ field|add_class:"mdl-checkbox__input"}}
                <span class="mdl-checkbox__label">{{field.label}} - {{field.help_text}}</span>
              </label><br>
            {% elif field.field.widget.input_type == 'file'%}
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--file{% if field.errors %} is-invalid{% endif %}">
                <input class="mdl-textfield__input" placeholder="{{field.label}}" type="text" id="text_{{field.id_for_label}}" readonly />
                <span>{{field.help_text}}</span>
                {% for error in field.errors %}
                  <span class="mdl-textfield__error">{{error}}</span>
                {% endfor %}
                <div class="mdl-button mdl-button--icon mdl-button--file">
                  <i class="material-icons">attach_file</i>
                  <input type="file" name="{{field.html_name}}" id="{{field.id_for_label}}" onchange="document.getElementById('text_{{field.id_for_label}}').value=this.files[0].name;" />
                </div>
              </div><br>
            {% else %}
              {{field}}<br>
              {{field.errors}}<br>
            {% endif %}

          {% endfor %}
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" name="action">{% trans "Submit" %} &raquo;</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
