{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load account %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Update Stats" %}{% endblock %}
{% block section_title %}{% trans "Update Stats" %}{% endblock %}

{% block extra_head %}
<script src="{% static "node_modules/humanize-plus/dist/humanize.min.js" %}"></script>
<link rel="stylesheet" href="{% static "css/update.css" %}">
{% endblock %}

{% block content %}
<form method="POST" action="{{request.path}}" id="form_survey" class="mdl-card__floating-action-bar">
  {% csrf_token %}
  {# translators: Asterix for required fields #}
  {% trans "*" as required %}
  <div class="mdl-card__supporting-text">
    <p>{% blocktrans %}Welcome to the TrainerDex. Please be honest and truthful, if caught intentionally providing false information, you may be banned.{% endblocktrans %}</p>
    <p>{% blocktrans %}All the questions relate to a section in the game and examples are provided to help if you get stuck.{% endblocktrans %}</p>
    <p>{% blocktrans %}All fields marked with an asterix&nbsp;({{required}}) are required.{% endblocktrans %}</p>
    <span id="errors">{{ form.non_field_errors }}</span>
  </div>
  
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
      {% for fieldset in form.fieldsets %}
      <a href="#{{fieldset.name}}-panel" class="mdl-tabs__tab {{fieldset.classes}}">{{fieldset.legend}}</a>
      {% endfor %}
    </div>
    
    {% for fieldset in form.fieldsets %}
    <div class="mdl-tabs__panel {{fieldset.classes}}" id="{{fieldset.name}}-panel">
      <div class="mdl-grid">
        {% for field in fieldset %}
          {% if field.is_hidden %}
          {{ field }}
          {% else %}
          {# Build Card #}
          <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-card__fixed-action-bar {% if field.name != 'double_check_confirmation' %}update__card{% endif %}" {% if field.name != 'double_check_confirmation' %}style="background-image: url('{% get_static_prefix %}img/survey/{{field.name}}.png');"{% endif %} id="{{field.id_for_label}}__card">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">{{field.label}}&nbsp;{% if field.field.required == True %}{{required}}{% endif %}</h2>
            </div>
            <div class="mdl-card__supporting-text" style="overflow-y: auto;">
              {% if field.field.widget.input_type != 'checkbox'%}<p>{{field.help_text}}</p>{% endif %}
              {% if field.errors %}
              <div style="color: #d50000;">
                {{field.errors}}
              </div>
              {% endif %}
              {% if field.name == 'double_check_confirmation' %}{% if error_fields %}
              <span>
                The following fields require your attention:
                <ul>
                  {% for field in error_fields %}
                    <li>{{field.verbose_name}}</li>
                    {% endfor %}
                  </ul>
                </span>
                {% endif %}{% endif %}
              </div>
              <div class="mdl-card__actions mdl-card--border">
                {% if field.field.widget.input_type == 'text' or field.field.widget.input_type == 'number' %}
                {# Number Input #}
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label{% if field.errors %} is-invalid{% endif %}">
                  {{ field|add_class:"mdl-textfield__input"}}
                  <label id="{{field.id_for_label}}_label" class="mdl-textfield__label" for="{{field.id_for_label}}"></label>
                </div>
                {% elif field.field.widget.input_type == 'checkbox'%}
                {# Checkbox Input #}
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="{{field.id_for_label}}">
                  {{ field|add_class:"mdl-checkbox__input"}}
                  <span class="mdl-checkbox__label">{{field.help_text}}</span>
                </label>
                {% elif field.field.widget.input_type == 'file'%}
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--file{% if field.errors %} is-invalid{% endif %}">
                  <input class="mdl-textfield__input" placeholder="{{field.label}}" type="text" id="text_{{field.id_for_label}}" readonly />
                  <div class="mdl-button mdl-button--icon mdl-button--file">
                    <i class="material-icons">attach_file</i>
                    <input type="file" name="{{field.html_name}}" id="{{field.id_for_label}}" onchange="document.getElementById('text_{{field.id_for_label}}').value=this.files[0].name;" />
                  </div>
                </div>
                {% else %}
                {# Other Inputs #}
                {{ field }}
                {% endif %}
              </div>
          </div>
          {% endif %}
        {% endfor %}
        {% if fieldset.name == 'extra' %}
          {% for question in questions %}
          <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
            <div class="mdl-card__title mdl-card--border">
              <h2 class="mdl-card__title-text">{{question.question}}</h2>
            </div>
            <div class="mdl-card__supporting-text">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input type="number" name="q{{question.pk}}" min="0" class="mdl-textfield__input" id="q{{question.pk}}">
                <label class="mdl-textfield__label" for="q{{question.pk}}">{{question.question}}</label>
              </div>
              {% if question.extra_needed %}<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input type="text" name="q{{question.pk}}_comment" class="mdl-textfield__input" id="q{{question.pk}}_comment">
                <label class="mdl-textfield__label" for="q{{question.pk}}_comment">{% trans "More info..." %}</label>
              </div>{% endif %}
            </div>
          </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
<footer class="mdl-card__actions mdl-card--border">
  <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" name="action">{% trans "Submit" %}</button>
</footer>
</div>
</form>
{% endblock %}
      
{% block extra_body %}
<script type="text/javascript">
const errors = {% autoescape off %}{{form.errors.as_json}}{% endautoescape %}

for (var key in errors) {
  console.error(key, errors[key][0]);
}
</script>

<script type="text/javascript">
  const url = '{% url 'trainerdex.api.1:latest_update' user.trainer.pk %}'
  
  function createNode(element) {
    return document.createElement(element); // Create the type of element you pass in the parameters
  }
  
  function append(parent, el) {
    return parent.appendChild(el); // Append the second parameter(element) to the first one
  }
  
  fetch(url).then((resp) => resp.json()).then(function(data) {
    let update = data;
    console.table(update);
    for (var key in update) {
      if (update[key]) {
        if (document.getElementById('id_'+key+'_label')) {
          document.getElementById('id_'+key+'_label').innerHTML = `Latest: ${Humanize.intComma(update[key])}`
        }
      }
    }
  })
</script>
{% endblock %}
