{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Leaderboard" %}{% endblock %}

{% block extra_head %}
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@TrainerDexApp"/>
<meta property="og:title" content="{% trans "Leaderboard" %}" />
<meta property="og:ttl" content="345600" />
<link rel="stylesheet" href="{% static "css/leaderboard.css" %}">
{% endblock %}

{% block content %}
<div class="spinner is-active" id="spinner">
  <div class="mdl-spinner mdl-js-spinner is-active"></div>
</div>
{% endblock %}

{% block post_body_post_mdl %}
<script src="{% url 'javascript-catalog' %}"></script>
<script src="{% static 'js/leaderboard.js' %}" defer></script>
{% endblock %}
