{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load humanize %}

{% block head_title %}{% blocktrans with title|default:_("International Leaderboard") as title %}{{title}}{% endblocktrans %}{% endblock %}

{% block extra_head %}
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@TrainerDexApp"/>
<meta property="og:title" content="{% blocktrans with title|default:_("International Leaderboard") as title %}{{title}}{% endblocktrans %}" />
<meta property="og:image" content="{% static 'img/Harmony.png' %}"/>
<meta property="og:ttl" content="345600" />
{% endblock %}

{% block content %}
<header class="tdx-lb__title mdl-card__title mdl-shadow--4dp">
  <h2 class="mdl-card__title-text">{% blocktrans with title|default:_("International Leaderboard") as title %}{{title}}{% endblocktrans %}</h2>
</header>


{% for entry in leaderboard %}
{% if forloop.first %}
<div class="tdx-lb__title" style="width: 100%">
    <div class="tdx-lb__supporting-text mdl-card__supporting-text">
      {% trans 'Total XP' context "Total XP of all Trainers on leaderboard" %}: {{ aggregations.sum | intword }} |
      {% trans 'Active Trainers' %}: {{ aggregations.count | intcomma }} (3 months) |
      {% trans 'Stat' %}: <select name="stat" id="stat_select">
                            {% for option in stat_options%}
                            <option value="{{option.0}}" {% if option.0 == stat %}selected{% endif %}>{{option.1}}</option>
                            {% endfor %}
                          </select>
      
    </div>
</div>

<script>
  let search_params = {{search_params|safe}};
  let pathname = '{% url "trainerdex:leaderboard" %}';

  let href = new URL(window.location.href);
  href.pathname = pathname;

  for (let key in search_params) {
    if (search_params[key] != null) {
      href.searchParams.set(key, search_params[key]);
    }
  }

  console.log(href.toString());

  document.getElementById('stat_select').addEventListener('change', function() {
    href.searchParams.set('sort', this.value);
    window.location.href = href.toString();
  });
</script>

<div class="table-responsive">
  <table class="mdl-data-table mdl-js-data-table" style="width: 100%">
    <thead>
      <tr>
        <th class="mdl-data-table__cell" style="width: 32px; white-space: nowrap;">Rank</th>
        <th class="mdl-data-table__cell--non-numeric" style="width: auto; white-space: nowrap;"><div id="entry-nickname" class="entry-nickname">{% trans "Nickname" context "onboard_enter_name_hint" %}</div></th>
        <th class="mdl-data-table__cell" style="width: 32px; white-space: nowrap;"><div id="entry-level" class="tl">{% trans "TL" context 'Short form of entry Level' %}</div></th>
        <th id="faction" class="mdl-data-table__cell--non-numeric">{% trans 'Team' context 'faction' %}</th>
        <th id="faction" class="mdl-data-table__cell" >{{stat_label}}</th>
        <th class="mdl-data-table__cell--non-numeric">{% trans "Last Updated" %}</th>
      </tr>
    </thead>
    <tbody>
    {% endif %}
      <tr>
        <td class="mdl-data-table__cell" style="width: 32px;">{{entry.position|ordinal}}</td>
        <td class="mdl-data-table__cell--non-numeric" style="width: auto; white-space: nowrap;" onclick="location.href = '{% url 'trainerdex:profile' nickname=entry.username%}'"><div class="trainer-nickname">{{entry.username}}</div></td>
        <td class="mdl-data-table__cell" style="width: 32px; white-space: nowrap;"><div class="tl">{{entry.level}}</div></td>
        <td class="mdl-data-table__cell--non-numeric" style="width: 32px;">{{entry.faction.name_en}}</td>
        <td class="mdl-data-table__cell">{{entry.value|intcomma}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{entry.last_updated}}</td>
      </tr>
    {% if forloop.last %}
    </tbody>
  </table>
</div>
{% endif %}
{% empty %}
<div class="tdx-lb__title" style="width: 100%">
    <div class="tdx-lb__supporting-text mdl-card__supporting-text">
        {% trans "There is no information to include in this leaderboard. Why not be the first?" %}
    </div>
</div>
<img style="display: block; margin-left: auto; margin-right: auto; padding-top: 25px;" src="{% static 'img/404.png' %}" />
{% endfor %}
{% endblock %}
