{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Leaderboard" %}{% endblock %}

{% block extra_head %}
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@TrainerDexApp"/>
<meta property="og:title" content="{% trans "Leaderboard" %}" />
<meta property="og:ttl" content="345600" />
{% endblock %}

{% block page %}
<main class="mdl-layout__content mdl-color--grey-100" style="flex: 1 0 auto;" id="content">
</main>
{% endblock %}

{% block extra_body %}
<script src="{% static 'js/index-bundle.js' %}"></script>
{% endblock %}
