{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block head_title %}{{trainer.nickname}} | {% trans "TL" context 'Short form of Trainer Level'  %} {{level}}{% endblock %}
{% block section_title %}{{trainer.nickname}}{% endblock %}

{% block extra_head %}
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@TrainerDexApp"/>
<meta property="og:title" content="{{trainer.nickname}}" />
<meta property="og:image" content="{{trainer.team.get_image_url}}"/>
<meta property="og:type" content="profile" />
<meta property="og:ttl" content="345600" />
<meta property="og:description" content="{% trans 'Team' context 'faction' %}: {{trainer.team}}
{% trans 'Level' %}: {{level}}
{% trans 'XP' context 'Short form of XP' %}: {{xp|intcomma}}" />
<meta property="profile:username" content="{{trainer.nickname}}" />
<link href="{% static 'css/css-circular-prog-bar.css' %}" media="all" rel="stylesheet" />

<!-- Google Charts Data -->
<script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
<script type='text/javascript'>
google.charts.load('current', {'packages':['annotatedtimeline']});
google.charts.setOnLoadCallback(drawChart);
function drawChart() {
  var data = new google.visualization.DataTable();
  {% for update in update_history %}
  {% if forloop.first %}
  {% for field in update %}
  {% if field.attname == 'update_time' %}data.addColumn('date', 'Date');{% else %}data.addColumn('number', '{{field.readable_name}}');{% endif %}{% endfor %}
  data.addRows([
    {% if trainer.start_date %}[new Date("{{trainer.start_date|date:"c"}}"){% for field in update|slice:"1:" %},0{% endfor %}],{% else %}[new Date("2016-07-05"){% for field in update|slice:"1:" %},undefined{% endfor %}],{% endif %}{% endif %}
    [new {% for field in update %}{% if field.attname == 'update_time' %}Date("{{ field.value|date:'c' }}"){% else %},{{field.value|default_if_none:'undefined'}}{% endif %}{% if forloop.last %}]{% endif %}{% endfor %}{% if not forloop.last %},{% else %},
    [new Date({# This comment is here because it fixes atom syntax highlighting #}"{% now 'c' %}"){% for field in update|slice:'1:' %},undefined{% endfor %}]{% endif %}
    {% endfor %}
  ]);

  var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
  chart.draw(data, {displayAnnotations: true});
}
</script>


{% endblock %}

{%block content%}
<div class="mdl-grid mdl-card mdl-shadow--2dp trainerdex--profile-top ">
  <div class="mdl-cell mdl-cell--1-col mdl-cell--3-offset-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-cell--gravatar-box"><img class="gravatar" src="{{trainer.team.get_image_url}}" /></div>
  <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
    <ul class="mdl-list">
      <i class="mdl-card__title-text">{{trainer.nickname}}  {{trainer.flag_emoji|default_if_none:''}}</i>
      {% if trainer.start_date %}<li class="mdl-list__item">
        <span class="mdl-list__item-primary-content" id="start_date">
          <i class="material-icons mdl-list__item-icon">date_range</i>
          {{trainer.start_date}}
        </span>
      </li>{% endif%}
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content" id="total_xp">
          <i class="mdl-list__item-icon">{% trans "XP" context 'Short form of XP'  %}</i>
          {{total_xp|intcomma}} | {% trans "TL" context 'Short form of Trainer Level'  %} {{level}}
        </span>
      </li>
      {% if gymbadges_total %}<li class="mdl-list__item">
        <span class="mdl-list__item-primary-content" id="gymbadges_total">
          <i class="material-icons mdl-list__item-icon">security</i>
          {{gymbadges_total|intcomma}}
        </span>
      </li>{% endif %}
      {% if gymbadges_gold %}<li class="mdl-list__item">
        <span class="mdl-list__item-primary-content" id="gymbadges_gold">
          <i class="material-icons mdl-list__item-icon" style="color: #FFD700;">security</i>
          {{gymbadges_gold|intcomma}}
        </span>
      </li>{% endif %}
    </ul>
  </div>
</div>
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
    <a href="#history-panel" class="mdl-tabs__tab is-active">{% trans "History" context "profile_category_history" %}</a>
    <a href="#badges-panel" class="mdl-tabs__tab">{% trans "Medals" context "profile_category_medals" %}</a>
    <a href="#graph-panel" class="mdl-tabs__tab">{% trans "Graph" context "profile_category_graph" %}</a>
  </div>

  <div class="mdl-tabs__panel is-active" id="history-panel">
    <div class="mdl-grid table-responsive">
      <table class="mdl-cell mdl-data-table mdl-js-data-table mdl-shadow--2dp trainerdex-card-center">
        {% for update in update_history %}
        {% if forloop.first %}
        <thead>
          <tr>
            {% for field in update %}
            <th id="{{field.attname}}">{{field.readable_name}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% endif %}

          <tr id="{{update.1.value}}">
            {% for field in update %}
            {% if field.attname == 'update_time' %}
            <td id="{{update.1.value}}.{{field.attname}}">{{field.value|default_if_none:"---"|naturalday}}</td>
            {% else %}
            <td id="{{update.1.value}}.{{field.attname}}">{{field.value|default_if_none:"---"|intcomma}}</td>
            {% endif %}
            {% endfor %}
          </tr>
          {% if forloop.last %}
        </tbody>
        {% endif %}
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="mdl-tabs__panel" id="badges-panel">
    {% for badge in badges %}
    {% if forloop.first %}
    <div class="mdl-grid mdl-grid--no-spacing">
      {% endif %}
      <div class="mdl-card mdl-cell mdl-shadow--2dp mdl-cell--1-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone trainerdex--profile__badges-individual">
        <div class="progress-circle  {% if badge.percent > 50 %}over50 {% endif %}p{{ badge.percent }}" id="{{ badge.name }}">
          <div class="mdl-tooltip" data-mdl-for="{{ badge.name }}">{{badge.tooltip}}</div>
          <span>{{ badge.value }}</span>
          <div class="left-half-clipper">
            <div class="first50-bar"></div>
            <div class="value-bar"></div>
          </div>
        </div>
        <span>{{ badge.readable_name }}</span>
      </div>
      {% if forloop.last %}
    </div>
    {% endif %}
    {% empty %}
    <div class="mdl-grid">
      <div class="trainerdex-card-wide mdl-card mdl-cell mdl-shadow--2dp" style="margin-left: auto; margin-right: auto;">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Oh no!</h2>
        </div>
        <div class="mdl-card__supporting-text">
          {% trans "It seems this trainer hasn't shared any of their medals." %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="mdl-tabs__panel" id="graph-panel">
    <div id='chart_div' style='width: 100%; height: 550px;'></div>
  </div>
{% endblock %}
