{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load filters %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block head_title %}{{trainer.nickname}} | {% trans 'Level' context profile_player_level %} {{level}}{% endblock %}

{% block extra_head %}
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@TrainerDexApp"/>
<meta property="og:title" content="{{trainer.nickname}} - {% trans "Level" context "profile_player_level" %} {{level}}" />
<meta property="og:image" content="{{trainer.team.get_image_url}}"/>
<meta property="og:type" content="profile" />
<meta property="og:ttl" content="345600" />
<meta property="og:description" content="{% if stats.travel_km %}{% trans "Distance Walked" context "avatar_detail_walking_distance" %}: {{stats.travel_km|intcomma}}{% endif%}
{% if stats.capture_total %}{% trans "Pokémon Caught" context "avatar_detail_pokemon_caught" %}: {{stats.capture_total|intcomma}}{% endif%}
{% if stats.pokestops_visited %}{% trans "PokéStops Visited" context "profile_pokestops_visited" %}: {{stats.pokestops_visited|intcomma}}{% endif%}
{% if stats.total_xp %}{% trans "Total XP" context "profile_total_xp" %} {{stats.total_xp|intcomma}}{% endif%}
{% if trainer.start_date %}{% trans "Start Date" context "profile_start_date" %}: {{trainer.start_date}}{% endif%}" />
<meta property="profile:username" content="{{trainer.nickname}}" />
{% endblock %}

{%block content%}
<div class="mdl-grid mdl-card mdl-shadow--2dp trainerdex--profile-top team{{trainer.faction}}">
  <ul class="mdl-cell mdl-cell--stretch mdl-list">
    <h2 class="mdl-card__title-text trainerdex-profile-username">{{trainer.nickname}} - {% trans "Level" context "profile_player_level" %} {{level}}</h2>
    {% if stats.travel_km %}<li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content" id="travel_km">
        <i class="pogo-icons mdl-list__item-icon"><img class="invert" src="{% static "img/profile_travel_km.png" %}"></i>
        <span>{{stats.travel_km|intcomma}}</span>
        <span class="mdl-list__item-sub-title">{% trans "Distance Walked" context "avatar_detail_walking_distance" %}</span>
      </span>
    </li>{% endif%}
    {% if stats.capture_total %}<li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content" id="capture_total">
        <i class="pogo-icons mdl-list__item-icon"><img class="invert" src="{% static "img/profile_capture_total.png" %}"></i>
        <span>{{stats.capture_total|intcomma}}</span>
        <span class="mdl-list__item-sub-title">{% trans "Pokémon Caught" context "avatar_detail_pokemon_caught" %}</span>
      </span>
    </li>{% endif%}
    {% if stats.pokestops_visited %}<li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content" id="pokestops_visited">
        <i class="pogo-icons mdl-list__item-icon"><img class="invert" src="{% static "img/profile_pokestops_visited.png" %}"></i>
        <span>{{stats.pokestops_visited|intcomma}}</span>
        <span class="mdl-list__item-sub-title">{% trans "PokéStops Visited" context "profile_pokestops_visited" %}</span>
      </span>
    </li>{% endif%}
    {% if stats.total_xp %}<li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content" id="total_xp">
        <i class="pogo-icons mdl-list__item-icon"><img class="invert" src="{% get_static_prefix %}img/profile_xp.png"></i>
        <span>{{stats.total_xp|intcomma}}</span>
        <span class="mdl-list__item-sub-title">{% trans "Total XP" context "profile_total_xp" %}</span>
      </span>
    </li>{% endif%}
    {% if trainer.start_date %}<li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content" id="start_date">
        <i class="pogo-icons mdl-list__item-icon"><img class="invert" src="{% static "img/profile_start_date.png" %}"></i>
        <span>{{trainer.start_date}}</span>
        <span class="mdl-list__item-sub-title">{% trans "Start Date" context "profile_start_date" %}</span>
      </span>
    </li>{% endif%}
    {% if trainer.legacy_40 %}<li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content" id="legacy_40">
        <i class="pogo-icons mdl-list__item-icon"><img src="{% static "img/badges/legacy_40.png" %}"></i>
        <span>{% trans "Legacy 40" context "level_40_title" %}</span>
        <span class="mdl-list__item-sub-title">{% trans "Achieve level 40 by December 31, 2020." context "level_40" %}</span>
      </span>
    </li>{% endif%}
  </ul>
  {% if stats.battle_hub_stats_wins and stats.battle_hub_stats_battles and stats.battle_hub_stats_stardust and stats.battle_hub_stats_streak %}
  <ul class="mdl-cell mdl-cell--stretch mdl-list">
    <h3 class="mdl-card__title-text">{% trans "GO Battle League" context "battle_hub_category_league" %}</h3>
    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content" id="battle_hub_stats_wins">
        <span>{{stats.battle_hub_stats_wins|intcomma|default_if_none:"NA"}}</span>
        <span class="mdl-list__item-sub-title">{% trans "Wins" context "battle_hub_stats_wins" %}</span>
      </span>
    </li>
    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content" id="battle_hub_stats_battles">
        <span>{{stats.battle_hub_stats_battles|intcomma|default_if_none:"NA"}}</span>
        <span class="mdl-list__item-sub-title">{% trans "Battles" context "battle_hub_stats_battles" %}</span>
      </span>
    </li>
    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content" id="battle_hub_stats_stardust">
        <span>{{stats.battle_hub_stats_stardust|intcomma|default_if_none:"NA"}}</span>
        <span class="mdl-list__item-sub-title">{% trans "Stardust Earned" context "battle_hub_stats_stardust" %}</span>
      </span>
    </li>
    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content" id="battle_hub_stats_streak">
        <span>{{stats.battle_hub_stats_streak|intcomma|default_if_none:"NA"}}</span>
        <span class="mdl-list__item-sub-title">{% trans "Longest Streak" context "battle_hub_stats_streak" %}</span>
      </span>
    </li>
    {% endif %}
  </ul>
</div>
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
    <a href="#history-panel" class="mdl-tabs__tab is-active">{% trans "Journal" context "profile_button_activity_log" %}</a>
    <a href="#medals-panel" class="mdl-tabs__tab">{% trans "Medals" context "profile_category_medals" %}</a>
  </div>

  <div class="mdl-tabs__panel is-active mdl-grid mdl-grid--no-spacing table-responsive" id="history-panel">
    <table class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table mdl-shadow--2dp trainerdex-card-center">
      <thead>
        <tr id="header">
          <th id="header:update_time">{% trans "Time Updated" %}</th>
          <th id="header:total_xp">{% trans "Total XP" context "profile_total_xp" %}</th>
          {% for medal in medal_data.values %}
          {% if stats|get:medal.name %}
          <th id="header:{{medal.name}}">{{medal.verbose_name}}</th>
          {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
      {% for update in updates %}
        <tr id="{{update.uuid}}">
          <td id="{{update.uuid}}:update_time">{{update.update_time|default_if_none:""|naturalday}}</td>
          <td id="{{update.uuid}}:total_xp">{{update.total_xp|default_if_none:""|intcomma}}</td>
          {% for key in medal_data %}
          {% if stats|get:key %}
          <td id="{{update.uuid}}:{{key}}">{{update|get:key|default_if_none:""|intcomma}}</td>
          {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="mdl-tabs__panel mdl-grid mdl-grid--no-spacing table-responsive" id="medals-panel">
    <table class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table" id="medals-table">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric"></th>
          <th id="bronze">{% trans "Bronze" %} ({{bronze_medals}}/{{medals_count}})</th>
          <th id="silver">{% trans "Silver" %} ({{silver_medals}}/{{medals_count}})</th>
          <th id="gold">{% trans "Gold" %} ({{gold_medals}}/{{medals_count}})</th>
          <th id="platinum" colspan="2">{% trans "Platinum" %} ({{platinum_medals}}/{{medals_count}})</th>
          <div class="mdl-tooltip" for="platinum">{% blocktrans %}These values have been datamined from the Beyond update and may be subject to change.{% endblocktrans %}</div>
        </tr>
      </thead>
      <tbody>
      {% for key, medal in medal_data.items %}
        {% if stats|get:key %}
        <tr id="{{key}}">
          <td id="{{key}}:name" class="mdl-data-table__cell--non-numeric">{{medal.verbose_name}}</td>
          <div class="mdl-tooltip" for="{{key}}:name">{{medal.tooltip}}</div>
          <td id="{{key}}:bronze">{% if stats|get:key < medal.bronze %}{{stats|get:key|intcomma}} / {% endif %}{{medal.bronze|intcomma}}</td>
          <td id="{{key}}:silver">{% if stats|get:key < medal.silver %}{{stats|get:key|intcomma}} / {% endif %}{{medal.silver|intcomma}}</td>
          <td id="{{key}}:gold">{% if stats|get:key < medal.gold %}{{stats|get:key|intcomma}} / {% endif %}{{medal.gold|intcomma}}</td>
          <td id="{{key}}:platinum">{{stats|get:key|intcomma}} / {{medal.platinum|intcomma}}</td>
          <td id="{{key}}:checkmark">{% if stats|get:key < medal.platinum %}❌{% else %}✔️{% endif %}</td>
          <div class="mdl-tooltip" for="{{key}}:checkmark">{% if stats|get:key < medal.platinum %}{{trainer.nickname}} <b>has not</b> completed this medal all the way up to Platinum.{% else %}{{trainer.nickname}} <b>has</b> completed this medal all the way up to Platinum.{% endif %}</div>
        </tr>
        {% endif %}
      {% endfor %}
      <tr>
        <th class="mdl-data-table__cell--non-numeric" colspan="6"><center>{% trans "Medals with no data." %}</center></td>
      </tr>
      {% for key, medal in medal_data.items %}
        {% if not stats|get:key %}
        <tr id="{{key}}">
          <td id="{{key}}:name" class="mdl-data-table__cell--non-numeric" colspan="6"><center>{{medal.verbose_name}}</center></td>
          <div class="mdl-tooltip" for="{{key}}:name">{{medal.tooltip}}</div>
        </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
