<div ng-repeat="gym in vm.gyms track by gym.id">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline"><img ng-src="/static/teams/{{ ::gym.team.name }}.png" src="" class="team-icon">{{ ::gym.name }}</span>
        <span class="md-body-1 big-text">Slots Available: {{ ::gym.slots_available }}</span>
        <span class="md-body-1 big-text">{{ ::gym.raid_pokemon_name }}</span>
        <img ng-src="/img/pokemon/{{ ::gym.raid_pokemon_id }}.png" src="" class="md-card-image pokemon-image">
        <span class="md-body-1 big-text">Raid Start: {{ ::gym.raid_start | date:'H:mm' }}</span>
        <span class="md-body-1 big-text">Raid End: {{ ::gym.raid_end | date:'H:mm' }} (<timer end-time="gym.raid_end" max-time-unit="'hour'" interval="1000">{{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}</timer>) </span>
        <span class="md-body-1 big-text">Raid Level: {{ ::gym.raid_level }}</span>
        <span class="md-body-1 big-text">Moves: {{ ::gym.move_1_name }} / {{ ::gym.move_2_name }}</span>
      </md-card-title-text>
      <md-card-title-media>
        <img ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{ ::gym.latitude }},{{ ::gym.longitude }}&zoom=15&size=250x125&maptype=roadmap&markers={{ ::gym.latitude }},{{ ::gym.longitude }}&key=AIzaSyCEadifeA8X02v2OKv-orZWm8nQf1Q2EZ4" class="md-card-image maps-image" src="">
        <img ng-src="{{ ::gym.image }}" class="md-card-image gym-image" src="">
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button href="https://www.google.com/maps/?daddr={{ ::gym.latitude }},{{ ::gym.longitude }}" target="_blank">Get Directions</md-button>
      <md-button>Going</md-button>
    </md-card-actions>
  </md-card>
</div>
