{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Update Stats" %}{% endblock %}
{% block section_title %}{% trans "Update Stats" %}{% endblock %}

{% block update_stats_button %}<!-- Why are you looking for where the code for the button to this page usually is... just update your damn stats! -->{% endblock %}

{% block content %}
{% trans "Input must be a positive number!" as input_number_error %}
<div class="mdl-grid">
  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-phone trainerdex-card__alert">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{% trans "Update Stats" %}</h2>
    </div>
    <form method="POST" action="{{request.path}}" class="update_stats" enctype="multipart/form-data" id="form_update_stats">
      {% csrf_token %}
      <div class="mdl-card__supporting-text" style="text-align: center;">
      <span>{{ form.non_field_errors }}</span>
      
      {# Include the hidden fields #}
      
      {% for hidden in form.hidden_fields %}
       {{ hidden }}
        <!-- {{hidden.errors}} -->
      {% endfor %}
      
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      
      {# Include the visible fields #}
      
      {% for field in form.visible_fields %}
        {% if field.id_for_label == 'id_walk_dist' %}
        <h5>{% trans "Profile Medals" %}</h5>
        {% endif %}
        {% if field.id_for_label == 'id_pkmn_normal' %}
        <h5>{% trans "Pokémon Type Medals" %}</h5>
        {% endif %}
        <br>
        {% if field.field.widget.input_type == 'text' or field.field.widget.input_type == 'number' %}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label{% if field.errors %} is-invalid{% endif %}">
            {{ field|add_class:"mdl-textfield__input"}}
            <label class="mdl-textfield__label" for="{{field.id_for_label}}">{{field.label}}{% if field.field.required == True %}*{% endif %}</label>
            <span>{{field.help_text}}</span>
            {% for error in field.errors %}
              <span class="mdl-textfield__error">{{error}}</span>
            {% endfor %}
          </div><br>
        {% elif field.field.widget.input_type == 'select'%}
          <div class="mdlext-selectfield mdlext-js-selectfield mdlext-selectfield--floating-label{% if field.errors %} is-invalid{% endif %}">
            {{ field|add_class:"mdlext-selectfield__select"}}
            <label class="mdlext-selectfield__label" for="{{field.id_for_label}}">{{field.label}}{% if field.field.required == True %}*{% endif %}</label>
            <span>{{field.help_text}}</span>
            {% for error in field.errors %}
              <span class="mdlext-selectfield__error">{{error}}</span>
            {% endfor %}
          </div><br>
        {% elif field.field.widget.input_type == 'checkbox'%}
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="{{field.id_for_label}}" >
            {{ field|add_class:"mdl-checkbox__input"}}
            <span class="mdl-checkbox__label">{{field.label}} - {{field.help_text}}</span>
          </label><br>
        {% elif field.field.widget.input_type == 'file'%}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--file{% if field.errors %} is-invalid{% endif %}">
            <input class="mdl-textfield__input" placeholder="{{field.label}}{% if field.field.required == True %}*{% endif %}" type="text" id="text_{{field.id_for_label}}" readonly />
            <label class="mdl-textfield__label" for="{{field.id_for_label}}">{{field.label}}{% if field.field.required == True %}*{% endif %}</label>
            <span>{{field.help_text}}</span>
            {% for error in field.errors %}
              <span class="mdl-textfield__error">{{error}}</span>
            {% endfor %}
            <div class="mdl-button mdl-button--icon mdl-button--file">
              <i class="material-icons">attach_file</i>
              <input type="file" name="{{field.html_name}}" id="{{field.id_for_label}}" onchange="document.getElementById('text_{{field.id_for_label}}').value=this.files[0].name;" />
            </div>
          </div><br>
        {% else %}
          {{field}}<br>
          {{field.help_text}}<br>
          {{field.errors}}<br>
        {% endif %}
      
      {% endfor %}
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" name="action">{% trans "Submit" %}</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
