{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load humanize %}

{% block head_title %}{% trans "Leaderboard" %}{% endblock %}

{% block content %}
<header class="mdl-card__title mdl-color--primary-dark mdl-color-text--primary-contrast mdl-shadow--4dp">
  <h2 class="mdl-card__title-text">{% block section_title %}{{title|default:"International"}} {% trans "Leaderboard" %}{% endblock %}</h2>
</header>

<div class="mdl-card__menu mdl-color-text--primary-contrast">
  <button id="set-location" class="mdl-button mdl-js-button mdl-button--icon">
    <i class="material-icons">pin_drop</i>
  </button>
  <button id="leaderboard-options" class="mdl-button mdl-js-button mdl-button--icon">
    <i class="material-icons">filter_list</i>
  </button>
  
  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="leaderboard-options">
    <li class="mdl-menu__item mdl-js-ripple-effect" id="mystic" class="button" onclick="location.href='{% url 'leaderboard' %}?valor={{ valor.value|yesno:'1,0' }}&mystic={{ mystic.value|yesno:'0,1' }}&instinct={{ instinct.value|yesno:'1,0' }}&spoofers={{ spoofers.value|yesno:'1,0' }}';">{% autoescape off %}{{ mystic.value|yesno:'<i class="material-icons">remove_circle_outline</i>,<i class="material-icons">add_circle_outline</i>' }}{% endautoescape %}{% trans 'Mystic' %}
    </li>
    <li class="mdl-menu__item mdl-js-ripple-effect" id="valor" class="button" onclick="location.href='{% url 'leaderboard' %}?valor={{ valor.value|yesno:'0,1' }}&mystic={{ mystic.value|yesno:'1,0' }}&instinct={{ instinct.value|yesno:'1,0' }}&spoofers={{ spoofers.value|yesno:'1,0' }}';">{% autoescape off %}{{ valor.value|yesno:'<i class="material-icons">remove_circle_outline</i>,<i class="material-icons">add_circle_outline</i>' }}{% endautoescape %}{% trans 'Valor' %}
    </li>
    <li class="mdl-menu__item mdl-js-ripple-effect" id="instinct" class="button" onclick="location.href='{% url 'leaderboard' %}?valor={{ valor.value|yesno:'1,0' }}&mystic={{ mystic.value|yesno:'1,0' }}&instinct={{ instinct.value|yesno:'0,1' }}&spoofers={{ spoofers.value|yesno:'1,0' }}';">{% autoescape off %}{{ instinct.value|yesno:'<i class="material-icons">remove_circle_outline</i>,<i class="material-icons">add_circle_outline</i>' }}{% endautoescape %}{% trans 'Instinct' %}
    </li>
    <li class="mdl-menu__item mdl-js-ripple-effect" id="spoofers" class="button" onclick="location.href='{% url 'leaderboard' %}?valor={{ valor.value|yesno:'1,0' }}&mystic={{ mystic.value|yesno:'1,0' }}&instinct={{ instinct.value|yesno:'1,0' }}&spoofers={{ spoofers.value|yesno:'0,1' }}';">{% autoescape off %}{{ spoofers.value|yesno:'<i class="material-icons">remove_circle_outline</i>,<i class="material-icons">add_circle_outline</i>' }}{% endautoescape %}{% trans 'Spoofers' %}
    </li>
  </ul>
</div>

<div class="mdl-card__supporting-text mdl-color--primary mdl-color-text--primary-contrast" style="width: 100%">
  {% trans 'Grand Total XP' %}: {{ grand_total_xp | intword }}
</div>

<div class="table-responsive">
  <table class="mdl-data-table mdl-js-data-table" style="width: 100%">
  {% for trainer in leaderboard %}
    {% if forloop.first %}
    <thead>
      <tr>
        <th>#</th>
        <th class="mdl-data-table__cell--non-numeric">{% trans "Username" %}</th>
        <th>{% trans "TL" %}</th>
        <th class="mdl-data-table__cell--non-numeric">{% trans "Team" %}</th>
        <th {% if order_by == 'xp' %}class="mdl-data-table__header--sorted-descending"{% endif %}>{% trans "XP" %}</th>
        <th class="mdl-data-table__cell--non-numeric">{% trans "Last Updated" %}</th>
        {% for column in trainer.columns %}
        <th {% if order_by == column.name %}class="mdl-data-table__header--sorted-descending"{% endif %}>{{column.readable_name}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% endif %}
      <tr>
        <td>{{trainer.position|default_if_none:''}}</td>
        <td class="mdl-data-table__cell--non-numeric"><a href="{% url 'profile' %}?id={{trainer.trainer.pk}}" class="leaderboard-link">{{ trainer.trainer.username }} {{  trainer.trainer.flag_emoji }}</a></td>
        <td>{{trainer.level}}</td>
        <td class="mdl-data-table__cell--non-numeric"><img width="32px" src="{% static trainer.trainer.faction.vector_image %}" onerror="this.src='{% static trainer.trainer.faction.image %}'" alt="{{trainer.trainer.faction.name}}"/></td>
        <td>{{trainer.xp|intcomma}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{trainer.update_time|naturalday}}</td>
        {% for column in trainer.columns %}
        <td>{{column.value|default_if_none:"---"|intcomma}}</td>
        {% endfor %}
      </tr>
    {% if forloop.last %}
    </tbody>
    {% endif %}
  {% endfor %}
  </table>
</div>
{% endblock %}
