{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load humanize %}

{% block head_title %}{% blocktrans with title|default:_("International") as loc context "This is the title, loc is defined as the country/continent name, or the word International (which is translated seperately)." %}{{loc}} Leaderboard{% endblocktrans %}{% endblock %}

{% block extra_head %}
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@TrainerDexApp"/>
<meta property="og:title" content="{% blocktrans with title|default:_("International") as loc context "This is the title, loc is defined as the country/continent name, or the word International (which is translated seperately)." %}{{loc}} Leaderboard{% endblocktrans %}" />
<meta property="og:image" content="{% static 'img/Harmony.png' %}"/>
<meta property="og:ttl" content="345600" />
<meta property="og:description" content="{% for trainer in leaderboard|slice:'0:10' %}
#{{trainer.position}}·{{trainer.trainer.username}}·{{trainer.trainer.flag_emoji|default_if_none:''}}·{{trainer.xp|intcomma}}·{% endfor %}" />
<script>
function setParam(uri, key, val) {
    return uri
        .replace(RegExp("([?&]"+key+"(?=[=&#]|$)[^#&]*|(?=#|$))"), "&"+key+"="+encodeURIComponent(val))
        .replace(/^([^?&]+)&/, "$1?");
}</script>
{% endblock %}

{% block content %}
<header class="tdx-lb__title mdl-card__title mdl-shadow--4dp">
  <h2 class="mdl-card__title-text">{% blocktrans with title|default:_("International") as loc context "This is the title, loc is defined as the country/continent name, or the word International (which is translated seperately)." %}{{loc}} Leaderboard{% endblocktrans %}</h2>
</header>


<div class="tdx-lb__menu mdl-card__menu mdl-color-text--primary-contrast">
  <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" onclick="location.href = setParam(window.location.href, 'page', {{page}}-1);" {% if page == 1 %}disabled{% endif %}><i class="material-icons">navigate_before</i></button> {{page}}/{{pages}} <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" onclick="location.href = setParam(window.location.href, 'page', {{page}}+1);" {% if page == pages %}disabled{% endif %}><i class="material-icons">navigate_next</i></button>
  <!--<button id="set-location" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" disabled>
    <i class="material-icons">pin_drop</i>
  </button>-->
  <button id="leaderboard-options" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect">
    <i class="material-icons">filter_list</i>
  </button>
  
  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="leaderboard-options">
    <li class="mdl-menu__item mdl-js-ripple-effect" id="mystic" class="button" onclick="location.href = setParam(window.location.href, 'mystic', '{{ mystic.value|yesno:'0,1,0' }}');">{% autoescape off %}{{ mystic.value|yesno:'<i class="material-icons">remove_circle_outline</i>,<i class="material-icons">add_circle_outline</i>,<i class="material-icons">remove_circle_outline</i>' }}{% endautoescape %}{% trans 'Mystic' %}
    </li>
    <li class="mdl-menu__item mdl-js-ripple-effect" id="valor" class="button" onclick="location.href = setParam(window.location.href, 'valor', '{{ valor.value|yesno:'0,1,0' }}');">{% autoescape off %}{{ valor.value|yesno:'<i class="material-icons">remove_circle_outline</i>,<i class="material-icons">add_circle_outline</i>,<i class="material-icons">remove_circle_outline</i>' }}{% endautoescape %}{% trans 'Valor' %}
    </li>
    <li class="mdl-menu__item mdl-js-ripple-effect" id="instinct" class="button" onclick="location.href = setParam(window.location.href, 'instinct', '{{ instinct.value|yesno:'0,1,0' }}');">{% autoescape off %}{{ instinct.value|yesno:'<i class="material-icons">remove_circle_outline</i>,<i class="material-icons">add_circle_outline</i>,<i class="material-icons">remove_circle_outline</i>' }}{% endautoescape %}{% trans 'Instinct' %}
    </li>
  </ul>
</div>

{% for trainer in leaderboard %}
{% if forloop.first %}
<div class="tdx-lb__title" style="width: 100%">
    <div class="tdx-lb__supporting-text mdl-card__supporting-text">
  {% trans 'Total XP' context "Total XP of all Trainers on leaderboard" %}: {{ grand_total_xp | intword }} | {% trans 'Trainers Considered' %}: {{ grand_total_users | intcomma }}
    </div>
</div>

<div class="table-responsive">
  <table class="mdl-data-table mdl-js-data-table" style="width: 100%">
    <thead>
      <tr>
        <th></th>
        <th class="mdl-data-table__cell--non-numeric" style="width: auto; white-space: nowrap;"><div id="trainer-nickname" class="trainer-nickname">{% trans "Nickname" context "onboard_enter_name_hint" %}</div> <div id="trainer-level" class="tl">{% trans "TL" context 'Short form of Trainer Level'  %}</div></th>
        <th id="faction" class="mdl-data-table__cell--non-numeric" style="width: 32px;">{% trans "Team" %}</th>
        {% for column in trainer.columns %}
        <th id="{{column.name}}" {% if sort_by == column.name %}class="mdl-data-table__header--sorted-descending"{% endif %} onclick="location.href = setParam(window.location.href, 'sort', '{{column.name}}');">{{column.readable_name}}</th>
        <div class="mdl-tooltip" for="{{column.name}}">
        {{column.tooltip}}
        </div>
        {% endfor %}
        <th class="mdl-data-table__cell--non-numeric">{% trans "Last Updated" %}</th>
      </tr>
    </thead>
    <tbody>
    {% endif %}
      <tr>
        <td>{{trainer.position|ordinal}}</td>
        <td class="mdl-data-table__cell--non-numeric" style="width: auto; white-space: nowrap;" onclick="location.href = '{% url 'trainerdex_web:profile' %}?id={{trainer.trainer.pk}}'"><div class="trainer-nickname">{{trainer.trainer.username}} {{trainer.trainer.flag_emoji|default_if_none:''}}</div> <div class="tl">{{trainer.level}}</div></td>
        <td class="mdl-data-table__cell--non-numeric" style="padding-top: 0px; padding-bottom: 0px; width: 32px;" ><img width="32px" src="{% static trainer.trainer.faction.vector_image %}" onerror="this.src='{% static trainer.trainer.faction.image %}'" alt="{{trainer.trainer.faction.name}}"/></td>
        {% for column in trainer.columns %}
        <td>{{column.value|default_if_none:"---"|intcomma}}</td>
        {% endfor %}
        <td class="mdl-data-table__cell--non-numeric">{{trainer.update_time|naturalday}}</td>
      </tr>
    {% if forloop.last %}
    </tbody>
  </table>
</div>
{% endif %}
{% empty %}
<div class="tdx-lb__title" style="width: 100%">
    <div class="tdx-lb__supporting-text mdl-card__supporting-text">
        {% trans "There is no information to include in this leaderboard. Why not be the first?" %}
    </div>
</div>
<img style="
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;" src="{% static 'img/404.png' %}" />
{% endfor %}
{% endblock %}
