{% extends "socialaccount/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block head_title %}{% user_display user %}{% endblock %}
{% block section_title %}{% user_display user %}{% endblock %}

{% block extra_head %}
<meta property="og:title" content="{% user_display user %}" />
<meta property=”og:image” content=”{% static 'images/user.png' %}”/>
<meta property="og:type" content="profile" />
<meta property="profile:username" content="{% user_display user %}" />
<meta name=”twitter:title” content=”{% user_display user %}”>
<meta name=”twitter:image” content=”{% static 'images/user.png' %}”/>
{% endblock %}

{%block content%}
<div class="trainerdex-cards mdl-grid">
  <div class="trainerdex-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <div class="trainerdex-separator mdl-cell--1-col mdl-cell--hide-phone"></div>
    <div class="trainerdex-profile mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
      <img src="{% static 'images/user.png' %}" class="trainerdex-profile trainerdex-avatar">
      <div class="trainerdex-name">{% user_display user %}</div>
      
    </div>
  </div>
</div>
{% endblock %}

{% block extra_body %}
{% comment %}<!-- This is where things which go after </main> go --->{% endcomment %}
{% endblock %}
