{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load static %}
{% load gravatar %}
{% load humanize %}
{% load widget_tweaks %}

{% block head_title %}{{trainer.username}} | {% trans "TL" %} {{level.level}}{% endblock %}
{% block section_title %}{{trainer.username}}{% endblock %}

{% block colour_scheme %}{% if trainer.faction.name == 'Valor' %}<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-deep_orange.min.css" />{% elif trainer.faction.name == 'Mystic' %}<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-deep_purple.min.css" />{% elif trainer.faction.name == 'Instinct' %}<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.amber-yellow.min.css" />{% else %}<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-green.min.css" />{% endif %}{% endblock %}

{% block extra_head %}
<meta property="og:title" content="{{trainer.username}}" />
<meta property="og:image" content="https://www.trainerdex.co.uk/{{trainer.faction.image}}"/>
<meta property="og:type" content="profile" />
<meta property="profile:username" content="{{trainer.username}}" />
<meta name="twitter:title" content="{{trainer.username}}">
<meta name="twitter:image" content="https://www.trainerdex.co.uk/{{trainer.faction.image}}"/>
<link rel="stylesheet" href="{% static '/css/collapsible.css' %}"/>
<link href="{% static 'css/css-circular-prog-bar.css' %}" media="all" rel="stylesheet" />
<link href="{% static 'node_modules/flag-icon-css/css/flag-icon.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{%block content%}
<div class="mdl-grid mdl-card mdl-shadow--2dp trainerdex--profile-top {{trainer.faction.name.lower}}">
    <div class="mdl-cell mdl-cell--1-col mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-cell--gravatar-box">{% gravatar trainer.owner.email 140 %}</div>
    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
      <ul class="mdl-list">
        <i class="mdl-card__title-text">{{trainer.username}}</i>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content" id="start_date">
            <i class="material-icons mdl-list__item-icon">date_range</i>
              <span id="update_time">{{update.update_time|naturaltime}}</span>
              <div class="mdl-tooltip" data-mdl-for="update_time">{{update.update_time}}</div>
          </span>
        </li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content" id="faction">
            <i class="material-icons mdl-list__item-icon">home</i>
            {{trainer.faction}}
          </span>
        </li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content" id="xp">
            <i class="mdl-list__item-icon">XP</i>
            {{update.xp|intcomma}} | {% trans "TL" %}  {{level.level}}
          </span>
        </li>
      </ul>
    </div>
    <div class="mdl-cell mdl-cell--1-col mdl-cell--8-offset-desktop mdl-cell--1-offset-tablet mdl-cell--4-col-phone" style="text-align: right;">
      {% for country in trainer.play_zones_country.all %}
        <span class="flag-icon flag-icon-{{country.code.lower}} flag-icon-squared flag-icon-circle mdl-shadow--4dp"></span>
      {% endfor %}
      {% if trainer.go_fest_2017 %}
        <img class="profile-medal" src="{% static 'img/go_fest_2017.png' %}" />
      {% endif %}
      {% if trainer.outbreak_2017 %}
        <img class="profile-medal" src="{% static 'img/outbreak_2017.png' %}" />
      {% endif %}
      {% if trainer.safari_zone_2017_oberhausen or trainer.safari_zone_2017_paris or trainer.safari_zone_2017_barcelona or trainer.safari_zone_2017_copenhagen or trainer.safari_zone_2017_prague or trainer.safari_zone_2017_stockholm or trainer.safari_zone_2017_amstelveen %}
        <img class="profile-medal" src="{% static 'img/safari_zone_2017.png' %}" />
      {% endif %}
    </div>
</div>
<div class="mdl-grid mdl-grid--no-spacing">
  {% for badge in badges %}
  <div class="mdl-card mdl-cell mdl-shadow--2dp mdl-cell--1-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone trainerdex--profile__badges-individual">
    <div class="progress-circle {{trainer.faction.name.lower}} {% if badge.percent > 50 %}over50 {% endif %}p{{ badge.percent }}" id="{{ badge.name }}">
      <span>{{ badge.value }}</span>
      <div class="left-half-clipper">
        <div class="first50-bar {{trainer.faction.name.lower}}"></div>
        <div class="value-bar {{trainer.faction.name.lower}}"></div>
      </div>
    </div>
  <span>{{ badge.readable_name }}</span>
  </div>
  {% endfor %}
</div>
{% endblock %}
