{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block section_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{% block warning %}
{% endblock %}
<div class="mdl-grid">
  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--5-col mdl-cell--4-col-phone trainerdex-card__alert">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{% trans "Sign In" %}</h2>
    </div>
    {% get_providers as socialaccount_providers %}
    <form class="login" method="POST" action="{% url 'account_login' %}">
    <div class="mdl-card__supporting-text">
      {% if socialaccount_providers %}
        {% block signin_message %}{% blocktrans %}If you already have an account, you can login below or via a third party account. If not, <a href="{{ signup_url }}">sign up</a> for an account.{% endblocktrans %}{% endblock %}
        {% include "socialaccount/snippets/login_extra.html" %}
      {% else %}
        {% blocktrans %}If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
      {% endif %}
      <div id="form_login" class="mdl-textfield mdl-js-textfield">
        {% csrf_token %}
        {% render_field form.login class+="mdl-textfield__input" %}<br>
        {% render_field form.password class+="mdl-textfield__input" %}
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="id_remember">
          {% render_field form.remember class+="mdl-checkbox__input" %}
          <span class="mdl-checkbox__label">{% trans 'Remember me' %}</span>
        </label>
        <br>
        <span><a href="{% url 'account_reset_password' %}">{% trans 'Forgotten password?' %}</a></span>
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
      </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">{% trans "Sign In via Username and Password" %} &raquo;</button>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      {% if socialaccount_providers %}{% include "socialaccount/snippets/provider_list.html" with process="login" %}{% endif %}
    </div>
    <div class="mdl-card__menu">
      <a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="{% url 'account_reset_password' %}">
        <i class="material-icons">priority_high</i>
      </a>
     </div>
    </form>
  </div>
</div>
{% endblock %}
