{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block section_title %}{% trans "Password Reset" %}{% endblock %}

{% block extra_head %}
<script>
$(function(){
    $("#id_email").removeAttr('placeholder');
    $("#form_password_reset").removeClass('has-placeholder');
});
</script>
{% endblock %}

{% block content %}
<div class="mdl-grid">
  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--5-col mdl-cell--4-col-phone trainerdex-card__alert">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{% trans "Password Reset" %}</h2>
    </div>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
      <div class="mdl-card__supporting-text">
        {% if user.is_authenticated %}{% include "account/snippets/already_logged_in.html" %}<br>{% endif %}
        {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}<br>
        {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}<br>
        <div id="form_password_reset" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          {% render_field form.email class+="mdl-textfield__input" %}
          <label class="mdl-textfield__label" for="id_email">{% trans 'Email address...' %}</label>
      </div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">{% trans 'Reset My Password' %}</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
