{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block section_title %}{% trans "Signup" %}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'node_modules/mdl-date-textfield/dist/mdl-date-textfield.min.css' %}">
{% endblock %}
{% block extra_body %}
<script src="{% static 'node_modules/mdl-date-textfield/dist/mdl-date-textfield.min.js' %}"></script>
{% endblock %}


{% block content %}
<div class="mdl-grid">
  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--5-col mdl-cell--4-col-phone trainerdex-card__alert">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{% trans "Signup" %}</h2>
    </div>
    <form method="POST" action="{% url 'account_signup' %}" enctype="multipart/form-data" class="signup">
      <div class="mdl-card__supporting-text">
        {% blocktrans %}You would already have an account if you use the Discord bot, please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
        <div id="signup_form">
          {% csrf_token %}
          
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label{% if user_form.username.errors or trainer_form.username.errors %} is-invalid{% endif %}">
              {% render_field user_form.username class+="mdl-textfield__input" %}
            <label for="id_username" class="mdl-textfield__label">{% trans 'Username' %}</label>
            <span class="mdl-textfield__error">{{ user_form.username.errors|add:trainer_form.username.errors }}</span>
          </div>
          
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label{% if trainer_form.xp.errors %} is-invalid{% endif %}">
            {{ update_form.xp|add_class:"mdl-textfield__input"|append_attr:"type:text"|append_attr:"pattern:[0-9]+"}}
            <label class="mdl-textfield__label" for="id_xp">{% trans "XP" %}</label>
            <span class="mdl-textfield__error">{{ trainer_form.xp.errors }}</span>
          </div><br>
          
          <div class="mdl-date-textfield mdl-js-date-textfield mdl-date-textfield--floating-label{% if ttrainer_form.start_date.errors %} is-invalid{% endif %}">
            {% render_field trainer_form.start_date class+="mdl-date-textfield__input" %}
            <label class="mdl-date-textfield__label" for="id_xp">{% trans "Start Date" %}</label>
            <span class="mdl-date-textfield__error">{{ trainer_form.start_date.errors }}</span>
          </div>
          
          <div class="mdlext-selectfield mdlext-js-selectfield mdlext-selectfield--floating-label{% if trainer_form.faction.errors %} is-invalid{% endif %}">
            {% render_field trainer_form.faction class+="mdlext-selectfield__select" %}
            <label class="mdlext-selectfield__label" for="id_xp">{% trans "Team" %}</label>
            <span class="mdlext-selectfield__error">{{ trainer_form.faction.errors }}</span>
          </div><br>
          
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label{% if user_form.email.errors %} is-invalid{% endif %}">
            {% render_field user_form.email class+="mdl-textfield__input" %}
            <label for="id_email" class="mdl-textfield__label">{% trans 'Enter email...' %}</label>
            <span class="mdl-textfield__error">{{ user_form.email.errors }}</span>
          </div><br>
          
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label{% if user_form.password1.errors %} is-invalid{% endif %}">
              {% render_field user_form.password1 class+="mdl-textfield__input" %}
            <label for="id_password1" class="mdl-textfield__label">{% trans 'Enter password' %}</label>
            <span class="mdl-textfield__error">{{ user_form.password1.errors }}</span>
          </div>
          
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label{% if user_form.password2.errors %} is-invalid{% endif %}">
              {% render_field user_form.password2 class+="mdl-textfield__input" %}
            <label for="id_password2" class="mdl-textfield__label">{% trans 'Re-enter password' %}</label>
            <span class="mdl-textfield__error">{{ user_form.password1.errors }}</span>
          </div><br>
          <!--
          <span class="mdl-switch__label">{% trans 'Screenshots' %}</span><br>
          <label>
            <span class="mdl-switch__label">{% trans "Profile Screenshot (Top)" %}</span><br>
            {{ upload_form.front_ss }}
          </label><br>
          
          <label>
            <span class="mdl-switch__label">{% trans "Profile Screenshot (Bottom)" %}</span><br>
            {{ upload_form.back_ss }}
          </label><br>-->
          
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="id_statistics">
            {% render_field trainer_form.statistics class+="mdl-switch__input" %}
            <span class="mdl-switch__label">{% trans 'Statistics' %}</span>
          </label>
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" name="action">{% trans "Register" %}</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
