{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block section_title %}{% trans "Signup" %}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'node_modules/mdl-date-textfield/dist/mdl-date-textfield.min.css' %}">
{% endblock %}
{% block extra_body %}
<script src="{% static 'node_modules/mdl-date-textfield/dist/mdl-date-textfield.min.js' %}"></script>
{% endblock %}


{% block content %}
<div class="mdl-grid">
  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--5-col mdl-cell--4-col-phone trainerdex-card__alert">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{% trans "Register" %} - {% trans "Step 1" %}</h2>
    </div>
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      <div class="mdl-card__supporting-text">
        {% blocktrans %}You would already have an account if you use the Discord bot, please <a href="{{ login_url }}">sign in</a> instead.{% endblocktrans %}
        <div id="signup_form">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" name="action">{% trans "Register" %} &raquo;</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
