<!DOCTYPE html>
<html lang="en" charset="utf-8">
    <head>
        <meta charset="utf-8">
        {% load static %}
        {% load i18n %}
        {% load account %}
        <title>{% block head_title %}{% endblock %} | TrainerDex</title>
        <meta name="description" content="{% trans "Join TrainerDex" %}">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
        <link rel="manifest" href="site.webmanifest">
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
        <meta property="og:site_name" content="TrainerDex" />
        <meta name="fb:page_id" content="1683676791663912" />
        <meta name="msvalidate.01" content="E7E20ABA1E037AC0B7E0116E01E3337A" />
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
        <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
        <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">
        <link rel="stylesheet" href="{% static "css/base.css" %}">
    </head>
    <body>
        <div id="app">
            <md-app md-mode="reveal">
                
                {# Material Toolbar #}
                
                <md-app-toolbar class="md-primary" md-elevation="0">
                    <md-button class="md-icon-button" @click="toggleMenu" v-if="!menuVisible">
                        <md-icon>menu</md-icon>
                    </md-button>
                    
                    <span class="md-title">{% block content_title %}{% endblock %}</span>
                    
                    <md-avatar>
                        <img src="{% static "img/generic_avatar_male.png" %}" alt="Avatar">
                    </md-avatar>
                </md-app-toolbar>
                
                {# Material Drawer #}
                
                <md-app-drawer :md-active.sync="menuVisible" md-persistent="mini" md-swipeable>
                    <md-toolbar class="md-transparent" md-elevation="0">
                        <span>{% trans "Navigation" %}</span>
                        
                        <div class="md-toolbar-section-end">
                            <md-button class="md-icon-button md-dense" @click="toggleMenu">
                                <md-icon>keyboard_arrow_left</md-icon>
                            </md-button>
                        </div>
                    </md-toolbar>
                    
                    <md-list>
                        <md-list-item href="/">
                            <md-icon>home</md-icon>
                            <span class="md-list-item-text">{% trans "Home" %}</span>
                        </md-list-item>
                        
                        <md-list-item>
                            <md-icon>leaderboard</md-icon>
                            <span class="md-list-item-text">{% trans "Leaderboard" %}</span>
                        </md-list-item>
                        
                        {% if user.is_authenticated %}
                        <md-list-item>
                            <md-icon>account_circle</md-icon>
                            <span class="md-list-item-text">{% trans "Profile" %}</span>
                        </md-list-item>
                        {% else %}
                        <md-list-item>
                            <md-icon>account_circle</md-icon>
                            <span class="md-list-item-text">{% trans "Log In" %}</span>
                        </md-list-item>
                        {% endif %}
                        
                        <md-list-item>
                            <md-icon>people</md-icon>
                            <span class="md-list-item-text">{% trans "Trainer Codes" %}</span>
                        </md-list-item>
                        
                        <md-list-item>
                            <md-icon>add</md-icon>
                            <span class="md-list-item-text">{% trans "Submit" %}</span>
                        </md-list-item>
                    </md-list>
                </md-app-drawer>
                
                {# Page Content #}
                
                <md-app-content class="md-scrollbar">
                    {% block content %}
                        
                    {% endblock %}
                </md-app-content>
                
            </md-app>
        </div>
        
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/vue-material"></script>
        <script>
            Vue.use(VueMaterial.default)

            new Vue({
                el: '#app',
                data: {
                    menuVisible: false
                },
                methods: {
                  toggleMenu () {
                    this.menuVisible = !this.menuVisible
                  }
                }
            })
        </script>
    </body>
</html>
