certifi
discord.py>=1.5.0,<1.6.0
django>=2.2.24,<3.0.0
django-ajax-selects
django-allauth~=0.44.0
django-cities~=0.6
django-cors-headers~=3.7.0
django-exclusivebooleanfield~=0.3.0
django-form-utils~=1.0.3
django-helpdesk>=0.2.23,<0.3.0
django-widget-tweaks~=1.4.8
djangorestframework~=3.12.4
humanize==3.6.0
gunicorn==20.1.0
markdown
pendulum~=2.1.2
Pillow
psycopg2-binary
Pygments~=2.9.0
python-dateutil~=2.8.1
requests
django-debug-toolbar
flake8
black
