{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="mdl-grid">
  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-phone trainerdex-card__alert">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{% trans "Change Password" %}</h2>
    </div>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
      <div class="mdl-card__supporting-text">
        <div id="form_password_change">
          {% csrf_token %}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label{% if form.login.errors %} is-invalid{% endif %}" style="width: 100%;">
              {{ form.oldpassword|add_class:"mdl-textfield__input"|remove_attr:"placeholder" }}
              <label class="mdl-textfield__label" for="{{form.oldpassword.id_for_label}}">{{form.oldpassword.label}}</label>
              {% for error in form.oldpassword.errors %}
                <span class="mdl-textfield__error">{{error}}</span>
              {% endfor %}
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label{% if form.login.errors %} is-invalid{% endif %}" style="width: 100%;">
              {{ form.password1|add_class:"mdl-textfield__input"|remove_attr:"placeholder" }}
              <label class="mdl-textfield__label" for="{{form.password1.id_for_label}}">{{form.password1.label}}</label>
              {% for error in form.password1.errors %}
                <span class="mdl-textfield__error">{{error}}</span>
              {% endfor %}
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label{% if form.login.errors %} is-invalid{% endif %}" style="width: 100%;">
              {{ form.password2|add_class:"mdl-textfield__input"|remove_attr:"placeholder" }}
              <label class="mdl-textfield__label" for="{{form.password2.id_for_label}}">{{form.password2.label}}</label>
              {% for error in form.password2.errors %}
                <span class="mdl-textfield__error">{{error}}</span>
              {% endfor %}
          </div>
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" name="action">{% trans "Change Password" %}</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
