<!DOCTYPE html>
<!--
Hello there! Looks like you're viewing the source code for the page, eh? 😏
We run on Django for the backend and welcome any help!
If you're interested in helping out, please email me at;
jayturnr <at> trainerdex.co.uk

Have a nice evening!
TO-DO: Insert pun about Bobby Tables (╯°□°）╯︵ ┻━┻
	
	/* SELECT pun FROM table_puns WHERE subject = 'Bobby Tables' AND quality = 0 */
	
--->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    
    {% load cookielaw_tags %}
    {% load static %}
    {% load i18n %}
    {% load gravatar %}
    {% load account %}
    
    <title>{% block head_title %}{% endblock %} | TrainerDex</title>
    <meta name="description" content="{% trans 'Introducing TrainerDex, the social experience Pokemon Go is lacking!' %}">
    
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{% static 'img/android-desktop.png' %}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="TrainerDex">
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/ios-desktop.png' %}">
    <meta name="msapplication-TileImage" content="{% static 'img/touch/ms-touch-icon-144x144-precomposed.png' %}">
    <meta name="msapplication-TileColor" content="#448aff">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    
    <link rel="stylesheet" href="{% static 'node_modules/material-design-lite/material.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/mdl-ext/lib/mdl-ext.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% block colour_scheme %}<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-green.min.css" />{% endblock %}
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static 'node_modules/dialog-polyfill/dialog-polyfill.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'cookielaw/css/cookielaw.css' %}" />
    
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% cookielaw_banner %}
    {% block body %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="trainerdex-header mdl-layout__header is-casting-shadow">
        <div class="mdl-layout__header-row">
          <span class="trainerdex-title mdl-layout__title">
            {# Translators: 'beta' should remain in lowercase #}
            {#<img class="trainerdex-logo-image" src="{% static 'img/logo.png' %}">#}TrainerDex<sup>{% trans 'beta' %}</sup>
          </span>
          {# Add spacer, to align navigation to the right in desktop #}
          <div class="mdl-layout-spacer"></div>
          <div class="trainerdex-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search-field">
            </div>
          </div>
          {# Navigation #}
          <div class="trainerdex-header-navigation-container">
            <nav class="trainerdex-header-navigation mdl-navigation">
              {%if user.is_authenticated %}
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{% url 'profile' %}">{% user_display user %}</a>{% else %}<a class="mdl-navigation__link mdl-typography--text-uppercase" href="{% url 'home' %}">{% trans "Home" %}</a>{% endif %}
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{% url 'communities' %}">{% trans "Communities" %}</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{% url 'leaderboard' %}">{% trans "Leaderboard" %}</a>
            </nav>
          </div>
          <span class="trainerdex-mobile-title mdl-layout-title">
            {# Translators: 'beta' should remain in lowercase #}
            {#<img class="trainerdex-logo-image" src="{% static 'img/logo.png' %}">#}TrainerDex<sup>{% trans 'beta' %}</sup>
          </span>
          <button class="trainerdex-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
            {% if user.is_authenticated %}
            <a class="mdl-navigation__link" href="{% url 'account_settings' %}"><li class="mdl-menu__item">{% trans "Account Settings" %}</li></a>
            <a class="mdl-navigation__link" href="{% url 'account_logout' %}"><li class="mdl-menu__item">{% trans "Log out" %}</li></a>
            {% else %}
            <a class="mdl-navigation__link" href="{% url 'account_login' %}"><li class="mdl-menu__item">{% trans "Login" %}</li></a>
            <div class="mdl-navigation__link"><li disabled class="mdl-menu__item">{% trans "Register" %}</li></div>
            {% endif %}
          </ul>
        </div>
      </header>
      <div class="trainerdex-drawer mdl-layout__drawer mdl-color--primary-dark mdl-color-text--primary-contrast">
        <header class="trainerdex-drawer-header">
          {% load account %}
          <a href="{% url 'profile' %}"><img src="{% gravatar_url user.email 64 %}" class="trainerdex-avatar"></a>
          <div class="trainerdex-avatar-dropdown">
            <span>{%if user.is_authenticated %}{% user_display user %}{% else %}{% trans "Anon" %}{% endif %}</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">arrow_drop_down</i>
              <span class="visuallyhidden">{% trans "Account Control" %}</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              {% if user.is_authenticated %}
              <a class="mdl-navigation__link" href="{% url 'account_settings' %}"><li class="mdl-menu__item">{% trans "Account Settings" %}</li></a>
              <a class="mdl-navigation__link" href="{% url 'account_logout' %}"><li class="mdl-menu__item">{% trans "Log out" %}</li></a>
              {% else %}
              <a class="mdl-navigation__link" href="{% url 'account_login' %}"><li class="mdl-menu__item">{% trans "Login" %}</li></a>
              <li disabled class="mdl-menu__item">{% trans "Register" %}</li>
              {% endif %}
            </ul>
          </div>
        </header>
        <nav class="trainerdex-navigation mdl-navigation mdl-color--primary mdl-color-text--primary-contrast">
          {%if user.is_authenticated %}
          <a class="mdl-navigation__link mdl-color-text--primary-contrast" href="{% url 'profile' %}"><i class="material-icons">person</i>{% trans "My Profile" %}</a>{% else %}<a class="mdl-navigation__link mdl-color-text--primary-contrast" href="{% url 'home' %}"><i class="material-icons">home</i>{% trans "Home" %}</a>{% endif %}
          <a class="mdl-navigation__link mdl-color-text--primary-contrast" href="{% url 'communities' %}"><i class="material-icons" role="presentation">people</i>{% trans "Communities" %}</a>
          <a class="mdl-navigation__link mdl-color-text--primary-contrast" href="{% url 'leaderboard' %}"><i class="material-icons" role="presentation">assessment</i>{% trans "Leaderboard" %}</a>
          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link mdl-color-text--primary-contrast mdl-button--disabled"><i class="material-icons" role="presentation">help_outline</i><span class="visuallyhidden">{% trans 'Help' %}</span></a>
        </nav>
      </div>
      
      {% if messages %}{% for message in messages %}
      <div id="trainerdex-toast-message" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
      </div>
      <script>
      r(function(){
          var snackbarContainer = document.querySelector('#trainerdex-toast-message');
          var data = { message: '{{message}}'};
          snackbarContainer.MaterialSnackbar.showSnackbar(data);
      });
      function r(f){ /in/.test(document.readyState)?setTimeout('r('+f+')',9):f()}
      </script>
      {% endfor %}{% endif %}
      
      {% block page %}
      <main class="mdl-layout__content mdl-color--grey-100" style="flex: 1 0 auto;">
        {% block content %}
        {% endblock %}
      </main>
      {% endblock %}
      
      {% endblock %}
      {% block extra_body %}
      {% endblock %}
      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">TrainerDex</div>
          <ul class="mdl-mini-footer__link-list">
            <li><a href="{% url 'home' %}">{% trans "About" %}</a></li>
            <li><a href="{% url 'help:faq' %}">{% trans "Help" %}</a></li>
            <li><a href="#">{% trans "Privacy &amp; Terms" %}</a></li>
            {% if user.is_superuser %}<li><a href="{% url 'admin:index' %}">{% trans "Admin Panel" %}</a></li>{% endif %}
          </ul>
        </div>
      </footer>
    </div>
    
    {% block update_stats_button %}
    {% if user.is_authenticated %}
    <a id="trainerdex__update-button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored  mdl-shadow--2dp" href="{% url 'update_stats' %}"><i class="material-icons">add</i></a>
    {% endif %}
    {% endblock %}
    
    {% if GOOGLE_ANALYTICS_PROPERTY_ID %}
      {% include "ga.html" %}
    {% endif %}
    <script src="{% static 'node_modules/material-design-lite/material.min.js' %}"></script>
    <script src="{% static 'node_modules/mdl-ext/lib/mdl-ext.min.js' %}"></script>
    <script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>
  </body>
</html>
