<!--
Hello there! Looks like you're viewing the source code for the page, eh? 😏
We run on Django for the backend and welcome any help!
If you're interested in helping out, please email me at;
jayturnr <at> trainerdex.co.uk

Have a nice evening!
TO-DO: Insert pun about Bobby Tables (╯°□°）╯︵ ┻━┻
	
	/* SELECT pun FROM table_puns WHERE subject = 'Bobby Tables' AND quality = 0 */
	
--->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    {% load static %}
    {% load i18n %}
    {% load gravatar %}
    <title>{% block head_title %}{% endblock %} | TrainerDex</title>
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{% static 'img/android-desktop.png' %}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="TrainerDex">
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/ios-desktop.png' %}">
    <meta name="msapplication-TileImage" content="{% static 'img/touch/ms-touch-icon-144x144-precomposed.png' %}">
    <meta name="msapplication-TileColor" content="#448aff">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'node_modules/material-design-lite/material.min.css' %}">
    <script src="{% static 'node_modules/material-design-lite/material.min.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-blue.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/animate.css/animate.min.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header"> 
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          {# Title #}
          <span class="mdl-layout-title">{% block section_title %}TrainerDex{% endblock %}</span>
          {# Spacer #}
          <div class="mdl-layout-spacer"></div>
          {# Information button #}
          {% comment "This is currently unused" %}
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          {% endcomment %}
        </div>
      </header>
      <div class="trainerdex-drawer mdl-layout__drawer mdl-color--primary-dark mdl-color-text--primary-contrast">
        <header class="trainerdex-drawer-header">
          {% load account %}
          <a href="/profile/"><img src="{% gravatar_url user.email 64 %}" class="trainerdex-avatar"></a>
          <div class="trainerdex-avatar-dropdown">
            <span>{%if user.is_authenticated %}{% user_display user %}{% else %}{% trans "Anon" %}{% endif %}</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">arrow_drop_down</i>
              <span class="visuallyhidden">{% trans "Account Control" %}</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              {% if user.is_authenticated %}
              <a class="mdl-navigation__link" href="{% url 'account_email' %}"><li class="mdl-menu__item">Change E-mail</li></a>
              <a class="mdl-navigation__link" href="{% url 'account_logout' %}"><li class="mdl-menu__item">Log out</li></a>
              {% else %}
              <a class="mdl-navigation__link" href="{% url 'account_login' %}"><li class="mdl-menu__item">{% trans "Login" %}</li></a>
              <li disabled class="mdl-menu__item mdl-menu__item--full-bleed-divider">{% trans "Register" %}</li>
              {% endif %}
            </ul>
          </div>
        </header>
        <nav class="trainerdex-navigation mdl-navigation mdl-color--primary mdl-color-text--primary-contrast">
          <a class="mdl-navigation__link mdl-color-text--primary-contrast" href="{% url 'home' %}"><i class="material-icons" role="presentation">home</i>{% trans "Home" %}</a>
          <a class="mdl-navigation__link mdl-color-text--primary-contrast" href="{% url 'communities' %}"><i class="material-icons" role="presentation">people</i>{% trans "Communities" %}</a>
          <a class="mdl-navigation__link mdl-color-text--primary-contrast mdl-button--disabled" ><i class="material-icons" role="presentation">assessment</i>{% trans "Leaderboard" %}</a>
          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link mdl-color-text--primary-contrast mdl-button--disabled"><i class="material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
        </nav>
      </div>
      
      {% if messages %}{% for message in messages %}
      <div id="trainerdex-toast-message" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
      </div>
      <script>
      r(function(){
          var snackbarContainer = document.querySelector('#trainerdex-toast-message');
          var data = { message: '{{message}}'};
          snackbarContainer.MaterialSnackbar.showSnackbar(data);
      });
      function r(f){ /in/.test(document.readyState)?setTimeout('r('+f+')',9):f()}
      </script>
      {% endfor %}{% endif %}
      
      <main class="mdl-layout__content mdl-color--grey-100" style="flex: 1 0 auto;">
        <!-- Disabled due to being annoying. Need to research cookies so I can set a "remember dismissed" cookie. 
        <div id ="discord-mobile-promo" class="trainerdex-promo mdl-card mdl-shadow--2dp mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--hide-desktop mdl-color--primary">
          <div class="trainerdex-promo-text mdl-card__supporting-text mdl-color-text--primary-contrast">
            {% blocktrans %}Don't forget to check out our discord server!{% endblocktrans %}
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a id="discord-mobile-promo-proceed" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--primary-contrast" href="{% url 'discord' %}">
              {% blocktrans %}Let's go!{% endblocktrans %}
            </a>
            <a id="discord-mobile-promo-close" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--primary-contrast" href="javascript:void(0);" onclick="hidePromo('discord-mobile-promo');">
              Dismiss
            </a>
          </div>
        </div>
        -->
        {% block content %}
        {% endblock %}
        {% endblock %}
        {% block extra_body %}
        {% endblock %}
      </main>
      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">TrainerDex</div>
          <ul class="mdl-mini-footer__link-list">
            <li><a href="#">{% trans "About" %}</a></li>
            <li><a href="#">{% trans "Help" %}</a></li>
            <li><a href="#">{% trans "Privacy &amp; Terms" %}</a></li>
            {% if user.is_superuser %}<li><a href="{% url 'admin:index' %}">{% trans "Admin Panel" %}</a></li>{% endif %}
          </ul>
        </div>
        <div class="mdl-mini-footer__right-section">
          <button class="mdl-mini-footer__social-btn social-btn social-btn__discord">
            <span class="visuallyhidden">Discord</span>
          </button>
        </div>
      </footer>
    </div>
      {% if GOOGLE_ANALYTICS_PROPERTY_ID %}
        {% include "ga.html" %}
      {% endif %}
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>
