{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Communities" %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'node_modules/status-indicator/styles.css' %}">
{% endblock %}

{% block content %}
          <header class="mdl-card__title mdl-color--primary-dark mdl-color-text--primary-contrast mdl-shadow--4dp">
            <h2 class="mdl-card__title-text">{% block section_title %}{% trans "Communities" %}{% endblock %}</h2>
          </header>
          <div class="mdl-card__supporting-text mdl-color--primary mdl-color-text--primary-contrast" style="width: 100%">
            {% blocktrans with email='<a href="mailto:communities@trainerdex.co.uk">communities@trainerdex.co.uk</a>'%}To submit a community to this list, email {{email}} {% endblocktrans %}
          </div>
          <div class="table-responsive">
            <table class="mdl-data-table mdl-js-data-table" style="width: 100%">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">{% trans 'Join' %}</th>
                  <th class="mdl-data-table__cell--non-numeric">{% trans 'Name' %}</th>
                  <th class="mdl-data-table__cell--non-numeric">{% trans 'Team' %}</th>
                  <th class="mdl-data-table__cell--non-numeric">{% trans 'Location' %}</th>
                  <th class="mdl-data-table__cell--non-numeric">{% trans 'Description' %}</th>
                </tr>
              </thead>
              <tbody>
                {% for community in community_list %}
                <tr>{% with social_link='img/'|add:community.social %}
                  <td class="mdl-data-table__cell--non-numeric"><a href="{% if community.team.name != 'Teamless' and user.is_authenticated == True or community.team.name == 'Teamless' %}{{ community.invite }}{% else %}{% url 'account_login' %}{% endif %}" id="{{community.social}}_{{community.pk}}" rel="external"><img width="32px" src="{% static social_link %}.svg" onerror="this.src='{% static social_link %}.png'"></a></td>
                    {% if community.team.name != "Teamless" and not user.is_authenticated %}<div class="mdl-tooltip" data-mdl-for="{{community.social}}_{{community.pk}}">{% trans 'Sign in to access team-restricted communities!' %}</div>{% endif %}
                  <td class="mdl-data-table__cell--non-numeric">{{ community.name }} {% if community.state is 'unknown' %}<status-indicator></status-indicator>{% elif community.state is 'live' %}<status-indicator positive pulse></status-indicator>{% elif community.state is 'dead' %}<status-indicator negative></status-indicator>{% endif %}</td>
                  <td class="mdl-data-table__cell--non-numeric">{% if community.team.name != "Teamless" %}<img width="32px" src="{% static community.team.vector_image %}" onerror="this.src='{% static community.team.image %}'" alt="{{community.team.name}}"/>{% endif %}</td>
                  <td class="mdl-data-table__cell--non-numeric">{% for location in community.locations %}{{ location.name }}{% if location.parent %}, {{ location.parent.name }}{% endif %}<br>{% empty %}{% trans 'Worldwide' %}{% endfor %}</td>
                  <td class="mdl-data-table__cell--non-numeric">{{ community.description }}</td>
                </tr>{% endwith %}
                {% endfor %}
              </tbody>
            </table>
          </div>
{% endblock %}
