{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Communities" %}{% endblock %}
{% block section_title %}{% trans "Communities" %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'node_modules/status-indicator/styles.css' %}">
{% endblock %}

{% block content %}
        <div class="mdl-grid welcome-content">
          <div class="trainerdex-card-center mdl-cell mdl-cell--6-col-tablet mdl-cell--8-col-desktop table-responsive">
            <table class="trainerdex-card-center mdl-data-table mdl-js-data-table mdl-shadow--2dp">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">{% trans 'Join' %}</th>
                  <th class="mdl-data-table__cell--non-numeric">{% trans 'Name' %}</th>
                  <th class="mdl-data-table__cell--non-numeric">{% trans 'Team' %}</th>
                  <th class="mdl-data-table__cell--non-numeric">{% trans 'Location' %}</th>
                  <th class="mdl-data-table__cell--non-numeric">{% trans 'Description' %}</th>
                </tr>
              </thead>
              <tbody>
                {% for community in community_list %}
                <tr>{% with social_link='img/'|add:community.social %}
                  <td class="mdl-data-table__cell--non-numeric"><a href="{% if community.team.name != 'Teamless' and user.is_authenticated == True or community.team.name == 'Teamless' %}{{ community.invite }}{% else %}{% url 'account_login' %}{% endif %}" id="{{community.social}}_{{community.pk}}" rel="external"><img width="32px" src="{% static social_link %}.svg" onerror="this.src='{% static social_link %}.png'"></a></td>
                    {% if community.team.name != "Teamless" and not user.is_authenticated %}<div class="mdl-tooltip" data-mdl-for="{{community.social}}_{{community.pk}}">{% trans 'Sign in to access team-restricted communities!' %}</div>{% endif %}
                  <td class="mdl-data-table__cell--non-numeric">{{ community.name }} {% if community.state is 'unknown' %}<status-indicator></status-indicator>{% elif community.state is 'live' %}<status-indicator positive pulse></status-indicator>{% elif community.state is 'dead' %}<status-indicator negative></status-indicator>{% endif %}</td>
                  <td class="mdl-data-table__cell--non-numeric">{% if community.team.name != "Teamless" %}<img width="32px" src="/{{ community.team.image }}" />{% endif %}</td>
                  <td class="mdl-data-table__cell--non-numeric">{% for location in community.locations %}{{ location.name }}{% if location.parent %}, {{ location.parent.name }}{% endif %}<br>{% empty %}{% trans 'Worldwide' %}{% endfor %}</td>
                  <td class="mdl-data-table__cell--non-numeric">{{ community.description }}</td>
                </tr>{% endwith %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
{% endblock %}
