{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}
{% block section_title %}{% trans "Welcome" %}{% endblock %}


{% block content %}
        <div class="mdl-grid welcome-content">
          <div class="mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">{% trans 'Welcome' %}</h2>
            </div>
            <div class="mdl-card__supporting-text">
              <p>{% url 'faq' as faq_url %}
                {% blocktrans %}TrainerDex is a service for tracking and updating your progress in Pokémon Go. Don't worry, there's no risk of ban, just check out our <a href="{{ faq_url}}" id="faq">FAQ</a>.{% endblocktrans %}
              <p>
                {% blocktrans %}Our discord bot is currently live and provides <em>leaderboards, badges, profiles</em> and more!{% endblocktrans %}
              </p>
              <p>
                {% blocktrans %}TrainerDex Web <em>beta</em> is here! Send a message on the <a href="https://discord.trainerdex.co.uk/">discord</a> to register. A web registration form is coming soon. <a href="https://paypal.me/pools/c/7Zo3MYKWVJ">Donations help!</a> {% endblocktrans %}
              </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'profile' %}">
                Let's go!
              </a>
            </div>
          </div>
        </div>
{% endblock %}
