  .mdl-card.collapsible-card {
    min-height: 0;
    max-width: 640px;
    width: auto;
  }
  .mdl-card.collapsible-card > .mdl-card__title {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    min-height: 64px;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
  }
  .mdl-card.collapsible-card .mdl-card__title:focus {
    /* Must focus ring must be inside title since mdl-card has overflow:hidden */
    outline-offset: -4px;
  }
  .mdl-card.collapsible-card .mdl-card__title > * {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
  .mdl-card.collapsible-card .mdl-card__supporting-text {
    width: auto;
  }
  .mdl-card.collapsible-card .mdl-card__actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .collapsible-card > .mdl-card__title .mdl-card__title-text {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding-bottom: 16px;
  }
  .collapsible-card > .mdl-card__title[aria-expanded='false'] {
    height: 64px;
  }
  .collapsible-card > .mdl-card__title[aria-expanded='false'] .mdl-card__title-text {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    padding-bottom: 0;
  }
  .collapsible-card > .mdl-card__menu {
    color: #ffffff;
  }
  

.mdlext-collapsible.valor {
  background: #F44336;
}
.mdlext-collapsible.mystic {
  background: #3F51B5;
}
.mdlext-collapsible.instinct {
  background: #FFC107;
}