{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Password Reset" %}{% endif %}{% endblock %}

{% block content %}
<div class="mdl-grid">
  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-phone trainerdex-card__alert">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Password Reset" %}{% endif %}</h2>
    </div>
    {% if token_fail %}
    <div class="mdl-card__supporting-text">
        {% url 'account_reset_password' as passwd_reset_url %}
        {% blocktrans %}The password reset link was invalid, possibly because it has already been used.{% endblocktrans %}
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ passwd_reset_url }}">
        {% trans 'New password reset key' %}
      </a>
    </div>
    {% else %}
      {% if form %}
        <form method="POST" action="{{ action_url }}">
          <div class="mdl-card__supporting-text">
            <div id="form_password_reset">
              {% csrf_token %}
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label{% if form.login.errors %} is-invalid{% endif %}" style="width: 100%;">
                  {{ form.password1|add_class:"mdl-textfield__input"|remove_attr:"placeholder" }}
                  <label class="mdl-textfield__label" for="{{form.password1.id_for_label}}">{{form.password1.label}}</label>
                  {% for error in form.password1.errors %}
                    <span class="mdl-textfield__error">{{error}}</span>
                  {% endfor %}
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label{% if form.login.errors %} is-invalid{% endif %}" style="width: 100%;">
                  {{ form.password2|add_class:"mdl-textfield__input"|remove_attr:"placeholder" }}
                  <label class="mdl-textfield__label" for="{{form.password2.id_for_label}}">{{form.password2.label}}</label>
                  {% for error in form.password2.errors %}
                    <span class="mdl-textfield__error">{{error}}</span>
                  {% endfor %}
              </div>
            </div>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <input class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"  type="submit" name="action" value="{% trans 'change password' %}"/>
          </div>
        </form>
      {% else %}
        <div class="mdl-card__supporting-text">
          {% trans 'Your password has now been changed.' %}
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'account_login' %}">
            {% trans 'Return to login page' %}
          </a>
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
