name: Translations

on:
  schedule:
    - cron: '0 8 * * THU'
  workflow_dispatch:

jobs:
  crowdin:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: 3.6
    - name: Install Dependencies
      run: |
        sudo apt-get -y --purge remove postgresql postgresql-13
        curl https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
        sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt/ bionic-pgdg main" >> /etc/apt/sources.list.d/postgresql.list'
        sudo apt-get update
        sudo apt -y install gettext postgresql-9.6 postgresql-9.6-postgis-2.4 gdal-bin python3-gdal
        sudo systemctl start postgresql
        python -m pip install --upgrade pip
        pip install -r requirements-dev.txt
        chmod +x ./build_db.sh
        ./build_db.sh
    - name: Generate pot files
      run: |
        python manage.py makemessages --all --keep-pot --ignore=env/*
    - name: Update Crowdin
      uses: crowdin/github-action@1.0.10
      with:
        upload_sources: true
        source: 'trainerdex/locale/django.pot'
        translation: 'trainerdex/locale/%locale%/LC_MESSAGES/django.po'
        upload_translations: false
        download_translations: true
        commit_message: 'chore: update translations via Crowdin'
        pull_request_title: 'chore: update translations via Crowdin'
        pull_request_labels: 'i18n'
        crowdin_branch_name: 'master'
        project_id: ${{ secrets.CROWDIN_PROJECT_ID }}
        token: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
      env:
        GITHUB_TOKEN: ${{ secrets.REPO_TOKEN }}
        CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
        CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
